[2016-11-28 16:50] ebisbe opened #9 "Flickr Issue"
Hello,

I'm not sure that I have to post the issue here but the flickr socialite provider keeps asking to grant permissions each time I call to login. I've manage to save the responded user and save it to the session. Is that the way flickr works?

[2016-11-29 08:56] mblarsen opened #10 "Twitter: blocks php artisan from running"
The twitter provider blocks artisan from running If you do not specify a value for `client_id` and `client_secret` in `config/services.php`. The setup could be like this where you defer the values to the `.env` file:

[code]

Typically when you deploy your app through some CI you might not have the `.env` file when running `composer install` and thus `php artisan optimize`.

Other providers like F

[2016-12-04 07:08] faustbrian commented on #10
Just pushed a fix for that https://github.com/SocialiteProviders/Manager/commit/6b047ae3775a4e4905837137aafd4cc85878082e and tagged `v2.2.0`.

Whenever providers are registered but the application now runs in the terminal it should spoof config values now.

[2016-12-04 07:08] #10 closed

[2016-12-04 07:09] faustbrian commented on #9
Don't have a Flickr account so can't test it.

[2016-12-04 17:08] ebisbe commented on #9
Ok, thanks. I'll try to find it in the Flickr documentation.

[2016-12-04 17:08] #9 closed

[2016-12-04 17:09] faustbrian commented on #9
If it isn't Flickr in this case let me know.

[2016-12-07 05:21] cristianofromagio opened #13 "Microsoft Live / Azure issue"
When using the current version of Microsoft Live provider, I was facing this problem:

`Client error: 'POST https://login.live.com/oauth20_token.srf' resulted in a `400 Bad Request` response:
{"error":"invalid_request","error_description":"The provided request must include a 'code' input parameter."}
in RequestException.php line 111`

So I went out to figure out what was causing this issue. I chec

[2016-12-09 09:49] #13 closed

[2017-01-25 09:41] ahjorth opened #24 "Steam provider needs a release"
It's been months and I've been using it on my old project. But now for 5.4 it's in dire need of an update and a proper release so we don't have to change `minimum-stability`

[2017-01-25 09:51] faustbrian commented on #24
This should work for now and won't change anything since stable releases will be pulled in for all other packages.

[code]

I have to take care of my job and all SocialiteProvider repositories alone so things might take time.

[2017-01-25 09:53] ahjorth commented on #24
SocialiteProviders/Steam requires `SocialiteProviders/Manager@2.0` which requires `Laravel/Socialite@2.0`

5.4 requires `Laravel Socialite@3.0`. So currently it will work for 5.3 but not for 5.4 using the method above.

[2017-02-03 07:27] #24 closed

[2017-02-15 16:30] ShaunaGordon opened #34 "Composer Doesn't Find Shopify Provider"
The Shopify provider doesn't seem to be completely installed/released.

I had to go all the way to adding the Shopify provider's git url to the `repositories` array, because without it, Composer kept throwing "The requested package socialiteproviders/shopify could not be found in any version," errors.

In the process of troubleshooting, I also found that the Shopify provider only registers version

[2017-02-15 17:33] faustbrian commented on #34
I will add the provider to packagist when I am back at my mac.

[2017-02-15 17:34] faustbrian commented on #34
There is no version 2.0 because the current state of the provider is the first iteration so there is no need for a version 2 since there haven't been any major changes.

[2017-02-15 20:26] abishekrsrikaanth opened #35 "Google Plus Auth for a single tld"
Am not sure if I am creating the issue at the right place. I started implement Google Authentication using the `Google-Plus` provider. Is there a way to allow only a single tld? For example if my Google Auth is being built on `foo.com`, I only want the auth to work with `@foo.com` and not any other email. Is there a config to do this or is there another way to implement this.

[2017-02-16 04:19] hengsoheak opened #36 "Call to undefined method Illuminate\Session\Store::set() with Linkedin login"
I have used Laravel Socialite with default configuration another social like google,Facebook,Twitter is work fine but when I create Linkedin it respond as below errors

"require": {
        "php": ">=5.6.4",
        "laracasts/flash": "^2.0",
        "laravel/framework": "5.4.*",
        "laravel/socialite": "^3.0",
        "laravel/tinker": "~1.0",
        "nesbot/carbon": "^1.22",
        "socia

[2017-02-16 09:02] faustbrian commented on #34
@ShaunaGordon Should be available on packagist now.

[2017-02-16 09:02] #34 closed

[2017-02-16 20:41] ShaunaGordon commented on #35
Google's API kind of allows for this, and I know the default Socialite Google driver allows for the mechanism involved. As a result, the Google+ one _should_ also support it, though I haven't personally tried it with the G+ one (alternatively, you might be able to use the built in Google one for your purposes).

In the code that goes out to the provider, you pass the `hd` (hosted domain) field:

`

[2017-02-16 20:50] ShaunaGordon opened #37 "Shopify Provider: Call to Undefined Method Provider::config()"
It looks like `$this->config`, is used, but never defined.

[2017-02-17 07:26] faustbrian commented on #37
Fixed https://github.com/SocialiteProviders/Providers/commit/5070fa23867fd6ea71b66c9024dc01838577c4f6

[2017-02-17 07:26] #37 closed

[2017-02-17 07:27] faustbrian commented on #37
Also please consider to send PRs instead of just opening issues without much info or help.

[2017-02-17 16:03] ShaunaGordon commented on #37
Normally, I would, but this one did not give me any more information (undefined errors are the extent of the information I have) and I don't know enough about the package to offer a PR.

[2017-02-19 14:51] Arekusei opened #38 "SocialiteProviders/Steam, Laravel5.3 and Sociallite2"
It's possible?

[2017-02-19 15:10] faustbrian commented on #38
No, only Laravel 5.4+.

[2017-02-19 15:10] #38 closed

[2017-02-19 16:28] Arekusei commented on #38
But the differences between commits insignificant.
https://github.com/SocialiteProviders/Steam/commit/95cf6291b3d002523e7e0b0ea53a62331a766ff9
This commit compatible with 2.0 manager.
New commits contain no significant changes except change itself composer.json.
It's like something out illogical.

[2017-02-19 16:54] faustbrian commented on #38
The version requirement is not about one single commit being compatible or not, there are differences between Socialite 2.0 and 3.0 which require different Manager releases.

All new providers will require Socialite 3.0 and Laravel 5.4 or higher to make sure the latest releases are supported. If you don't like to use the newest releases of Laravel and Co. that's fine but please don't just dismiss

[2017-02-19 17:44] Arekusei commented on #38
I mean that the incompatibility within the provider for Steam (as it should be, and many others) is not available, but it is encapsulated in the manager. Accordingly illogical formally compliant package/provider to do incompatible.

[2017-02-19 18:02] Arekusei commented on #38
Why not mark the package as is compatible with the two versions of the manager.
[code]

[2017-02-20 04:47] faustbrian commented on #38
Laravel 5.3 and 5.4 have different method names and I am not going to plunge a bunch of checks in some providers to check if the `put` or `set` method has to be called.

Everything onwards will require Laravel 5.4 and Socialite 3.0 or newer, that's the current state and will stay like this for now.

[2017-02-20 04:48] faustbrian commented on #36
https://github.com/SocialiteProviders/Providers/commit/1d1c1cfff35ea8d954d5c80b18ef613dd6fa6a3d

[2017-02-20 04:48] #36 closed

[2017-02-22 03:42] jefvanhoyweghen opened #43 "Twitter Stateless Session store not set on request."
I'm trying to implement stateless redirecting to twitter from my Lumen app, but every time it gives an error saying: Session store not set on request.

I followed all the installation instructions of the Twitter provider correctly.

Although the provider should automatically detect I want stateless, I extra noted it in the call:
`return Socialite::driver('twitter')->stateless()->redirect();`

Do y

[2017-02-22 07:26] faustbrian commented on #43
Are you using Socialite 3.0? People have been reporting that issue since using Socialite 3.0.

I hope I find some time to look into this soon but I am currently covered in loads. If people who encounter this issue could take the time to look into this that would be great since you already have a system running with the issue.

[2017-02-22 12:49] jefvanhoyweghen commented on #43
Thanks for the reaction @faustbrian

I'm using Lumen 5.3 with Socialite 2.0.20 and Twitter Provider 2.0.2.

[2017-02-24 04:43] tony-trf commented on #43
I am also seeing this with Laravel v5.4.13 / Socialite v3.0.3 / socialiteproviders/twitter v3.0.0

Using Dingo API

The main issue is that stateless doesnt exist in oauth1 so either the main socialite package needs to be updated or the twitter provider needs some work.

[2017-02-24 10:47] faustbrian commented on #43
As I said I don't have the time to work on this the next few weeks because I am loaded with work so feel free to send a PR if it is super urgent.

[2017-03-03 00:05] santyanna commented on #43
I am experiencing this too. If I set Twitter to stateless, I get

local.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Call to undefined method Laravel\Socialite\One\TwitterProvider::stateless() in [filename]

[2017-03-16 20:18] gmask opened #49 "Help with JIRA provider"
Hey there, if this is the wrong place for this kind of post please direct me to the proper one.

I'm attempting to use the JIRA Socialite provider and cannot get it to work.

I have generated the `jira.pem` and `jira.pub` keys and they seem to be loaded fine, I've also added the application link to my JIRA instance and ensured the `jira.pub` key is pasted in the "Incoming Authentication" section.

[2017-03-23 10:26] wislem opened #51 "LinkedIn Provider"
Hello everyone!

I have been struggling to retrieve some more fields from the r_basicprofile scope (summary, specialties, positions).

In this provider, there is no configuration for the fields to request and changing them in the code made no difference.
https://github.com/SocialiteProviders/Providers/blob/master/src/LinkedIn/Provider.php line 96
[code]

To get those fields, I had to mess with Soc

[2017-03-23 10:29] faustbrian commented on #51
Socialite is supposed to only provide the basic details and login in the user. If you need to perform more actions use the token you receive from the response and perform another request to retrieve additional informations.

[2017-03-23 10:29] #51 closed

[2017-04-04 15:08] sevastyanovio opened #54 "Set up auto-update on Packagist for Shopify"
@faustbrian could you pls set up the auto update for Shopify package on Packagist. https://packagist.org/packages/socialiteproviders/shopify

An outdated and broken version there.

[2017-04-04 16:08] faustbrian commented on #54
Done

[2017-04-04 16:08] #54 closed

[2017-04-05 06:01] marco-peters opened #55 "Call to undefined method SocialiteProviders\Spotify\Provider::getAccessTokenResponse()"
I'm getting the following error on the callback of the Spotify provider:

`Call to undefined method SocialiteProviders\Spotify\Provider::getAccessTokenResponse()`

I'm on Laravel 5.4, might that be an issue? However, I'm using Laravel Socialite 3.0.0, which should be compatible.

[2017-04-10 16:26] sevastyanovio opened #59 "Update Slack on Packagist"
Hello!

Could you pls update Slack on Packagist according to last updates.

Thanks!

[2017-04-11 06:18] #59 closed

[2017-04-12 11:30] fishr01 commented on #43
Has anyone been able to work around this in the mean time? I am also running into this issue.

[2017-04-13 04:34] tyler36 opened #61 "ERROR: Flickr throws "Call to undefined method GuzzleHttp\Psr7\Response::send()""
After the authentication screen, on the callback when I try to run:
[code]

I get the following error:

[code]

[2017-04-13 05:52] faustbrian commented on #61
As you already have an installation running please figure out the issue and send a PR to fix it since you are a developer too. We simply don't have the time to fix all the issues that come up on our own since we don't use most of these providers on our own and they are written by 3rd-Party Developers.

[2017-04-13 07:37] crscheid opened #62 "Mastodon Support"
It would be nice to have a Mastodon Socialite provider that also allows the ability to pass in which instance you are attempted to authenticate to, since the instances are distributed.

[2017-04-13 07:38] faustbrian commented on #62
Send a PR.

[2017-04-14 19:32] tremby commented on #43
Did this ever work? If I understand OAuth 1 correctly it *needs* state for the token to be properly verified. If this was ever working, that would perhaps suggest that the check was not being made, leading to a security hole.

[2017-04-14 20:10] cyrrill commented on #43
You cannot use ->stateless() with the Twitter Socialite provider, as its based on Oauth1.

If you look in the Socialite directory you will find 2 folders:  /One, /Two

All the providers in the /Two folder can use the stateless() method. Those in the /One folder, you cannot.

Twitter does not support Oauth 2 for user authentication, only for application auth, so this will never work unless Twitter

[2017-04-18 17:55] tremby commented on #43
See [this thread on the Twitter community forum](https://twittercommunity.com/t/authorization-authentication-with-twitter-stateless/399), where a (former) Twitter staff member suggests the following:

Does this mean it's safe to throw that (signed?) token in the callback URL? Would there be any security implications with this?

[2017-04-18 18:06] tremby commented on #43
I just commented on that thread to ask for clarification and while doing so thought of encrypting the necessary information (`oauth_token` and `oauth_token_secret`?) with a secret known only to the app using Socialite (like `APP_KEY`), and adding this to the callback URL. Would this do the trick?

[2017-04-19 23:27] tremby commented on #43
I tried to hack an implementation of the above together today, and I no longer think it's possible. From my comment on that Twitter community forum thread:

[2017-04-19 23:59] tremby commented on #43
One potential solution which would involve cache but not session:

1. Generate a random temporary identifier for the current user when the log in request comes in.
2. Include this identifier in the `oauth_callback` parameter to the `/oauth/request_token` call to Twitter, such as by adding `?user=$tempId` to the configured callback URL.
3. Read the response, which includes `oauth_token` and `oauth_

[2017-05-12 16:06] robertem128 opened #66 "SocialiteProviders\Pinterest returning URL instead of nickname"
In my app, the pinterest provider is returning the full url as the nickname ($nickname = $matches[0];). DDing the array shows the correct information is in $matches[1];.

[2017-05-13 07:55] faustbrian commented on #66
Submit a PR to fix it.

[2017-05-14 17:13] robertem128 commented on #66
Done.

[2017-06-12 23:51] tobz-nz opened #73 "Shopify provider redirecting to shopify without subdomain"
I can't figure out how thte shopify provider is getting the subdomain out of the incoming request `_GET` params.
It doesn't seem to be doing it at all - and the resulting invalid url it redirects to backs that up.
eg: `https://.myshopify.com/admin/oauth/authorize....`

Am I missing something?

[2017-06-13 00:40] tobz-nz commented on #73
I've worked out how to do it manually, but shouldn't this be happening automatically?

[code]

[2017-06-13 02:27] ERROPiX opened #75 "How can we use the refresh token?"
Hi,

I have learned how to get a token after the login via OAuth 2 providers (like Envato), but the token expires after 1 hour.

Any way how to handle this case?

Thanks

[2017-06-13 03:40] tobz-nz commented on #73
I've submitted PR #77 to use the `shop` param from request.

[2017-06-13 04:51] #66 closed

[2017-06-13 04:51] #62 closed

[2017-06-13 04:52] #73 closed

[2017-06-13 04:53] faustbrian commented on #75
https://stackoverflow.com/questions/33988064/how-can-i-manage-oauth-refresh-tokens-with-laravel
https://laravel.io/forum/08-26-2016-handling-oauth-token-refresh-with-socialite

[2017-06-13 04:53] #75 closed

[2017-06-15 10:24] robinbertram opened #81 "Microsoft Azure: The request body must contain the following parameter: client_id"
I'm using the `microsoft-azure` provider and I get the following error message on the callback.

[code]

This is the code I'm using.

[code]

And then on the callback I run;

[code]

And it falls in the catch and returns the message above.

Any thoughts?

[2017-06-19 12:21] robinbertram commented on #81
Ok so for the next retarded developer who finds this issue, the problem was that I didn't realize that I had to pass the configuration before calling `->user()` as well.

So do something like this;
[code]

[2017-06-19 12:21] #81 closed

[2017-06-19 13:59] faustbrian commented on #81
@robinbertram Must have overlooked this issue. The cleanest solution for that kinda issue is to handle it like this to make sure you always call the driver with the full configuration.

[code]

[2017-06-28 11:55] mrehayden1 opened #85 "Socialite::driver('buffer')->user() throws ClientException 400 Bad Request` response: {"error":"invalid_grant"}"
The `grant_type` parameter seems to be correct according to the API docs: https://buffer.com/developers/api/oauth

Here's a partial dump of the stack trace from the point where my code hands over to the Buffer provider.

[code]

[2017-06-28 11:58] faustbrian commented on #85
As you already have an installation running please figure out the issue and send a PR to fix it since you are a developer too.

We simply don't have the time to fix all the issues that come up on our own since we don't use most of these providers on our own and they are written by 3rd-Party Developers.

[2017-06-28 11:59] mrehayden1 commented on #85
Okay, I just wanted to raise the issue first.

[2017-06-28 12:49] mrehayden1 commented on #85
So, Buffer's API was reporting a double encoding of one of the parameters as an `invalid_grant`.

[2017-06-28 12:49] #85 closed

[2017-07-05 15:59] sigfriedseldeslachts commented on #55
I've got the same issue on the YouTube one.

[2017-07-06 11:13] pirmax opened #86 "Laravel 5.4 - Socialite Providers multiple configurations with Twitter"
I have two services to connect with Socialite Provider:

    use Laravel\Socialite\Facades\Socialite;
    use \SocialiteProviders\Manager\Config;

    public function connect_1() {
    	$config1 = new Config(
    	    env('TWITTER_CONSUMER_KEY_1'),
    	    env('TWITTER_CONSUMER_SECRET_1'),
    	    env('TWITTER_REDIRECT_URI_1'),
    	    [
    	        //
    	    ]
    	);

    	return Socialite

[2017-07-06 11:51] faustbrian commented on #86
Did you place the ENV Variables from the documentation into your .env place together with your custom ones? They are required for the provider to boot and can stay empty.

[code]

[2017-07-06 11:54] pirmax commented on #86
I can't stay empty.

I must add chars and I have the same error.

[2017-07-06 11:56] faustbrian commented on #86
Before posting my previous reply I quickly tested it on my local machine and it works just fine. The `Twitter1` or `Twitter2` credentials will be used instead of the `Twitter` ones.

[2017-07-11 03:17] #35 closed

[2017-07-11 03:21] faustbrian commented on #55
https://github.com/laravel/socialite/blob/3.0/src/Two/AbstractProvider.php#L252-L268

[2017-07-11 03:21] #55 closed

[2017-07-11 03:22] #86 closed

[2017-07-11 03:22] #61 closed

[2017-07-11 03:23] #43 closed

[2017-07-15 20:31] tremby commented on #43
@faustbrian, care to comment on why you closed this?

[2017-07-16 03:52] faustbrian commented on #43
No one send a PR in months so the people that encounter this issue don't seem to have that big of an issue with it. Feel free to send a PR unless it is to hacky as Twitter doesn't support it by default.

⁣Sent from TypeApp ​

On 15 Jul 2017, 23:31, at 23:31, Bart Nagel <notifications@github.com> wrote:

[2017-07-16 18:50] tremby commented on #43
Well I was waiting for feedback on what I posted above.

[2017-07-19 03:04] danrovito opened #87 "Stripe Provider sending the wrong ID"
When using the stripe provider the docs call to add this to my ENV

[code]

The actual URL of the stripe oauth calls for the `client_id` and not the stripe key, which is whats being put into the URL.  The `client_id` is created when you create an app in Stripe connect.  That ID is what needs to be sent in the `client_id` parameter.

`https://connect.stripe.com/oauth/authorize?client_id=pk_test_XXX

[2017-07-19 04:00] faustbrian commented on #87
STRIPE_KEY=client_id https://github.com/SocialiteProviders/Manager/blob/master/src/Config.php#L20-L22

If something is not working properly you are always free to send a PR to fix it.

[2017-07-19 12:19] nicoalvarez-cd opened #90 "Received HTTP status code [401] with message "This feature is temporarily unavailable" when getting token credentials."
![image](https://user-images.githubusercontent.com/12100047/28366440-17d5790e-6c63-11e7-9832-772e59e0e031.png)

anyone knows which can be the issue?
it's with twitter provider.. and find this working for almost all the users.. but fail in 10/15 of almost 250 users...

using Laravel 5.4 and "socialiteproviders/twitter": "^3.0"

[2017-07-19 14:16] faustbrian commented on #90
If you google the error message you will find different results, some state it is an issue on Twitters side and just starts working again randomly.

[2017-07-20 19:27] seanmangar commented on #43
+1 Running into the same issue

[2017-07-21 04:00] faustbrian commented on #43
Feel free to submit a PR and I will take a look when I have time.

[2017-07-22 15:38] pirmax opened #91 "Laravel 5.2 - Socialite Providers Twitter give me bad authentication data"
I use **Laravel 5.4** with **Socialite Providers** ([http://socialiteproviders.github.io/providers/twitter/][1])

I want build an application with two Twitter services with no the same credentials.

I use this in **services.php**:

    'twitter' => [
        'client_id' => env('TWITTER_KEY'),
        'client_secret' => env('TWITTER_SECRET'),
        'redirect' => env('TWITTER_REDIRECT_URI'),
    ]

[2017-07-26 17:40] jenniferhub opened #93 "Add a Steein provider"
https://github.com/SteeinRu/oauth2-steein - This package includes many, additional components

[2017-07-27 08:39] faustbrian commented on #93
Feel free to send a PR for a Provider. You can either use https://github.com/SocialiteProviders/Generators or take a look at other Providers to see how they are structured.

[2017-08-02 14:36] tobiasdalhof opened #94 "Is SocialiteProviders/Xing broken?"
Hello,

can anyone confirm that SocialiteProviders/Xing is working?

Looks like XING disabled their API for new users. I am only able to create a "Login with XING Plugin" which provides me a consumer key & signature salt

[2017-08-02 15:47] faustbrian commented on #94
Check http://socialiteproviders.github.io/providers/xing/ to learn how to use the consumer key and secret XING provides you.

[2017-08-02 16:49] tobiasdalhof commented on #94
I'm getting follow exception:

[code]

My .env file looks like this
[code]

The "Signature salt" provided by XING equals the XING_SECRET config, right?!

Routes
[code]

LoginController
[code]

No idea whats wrong here :cry:

[2017-08-03 03:24] faustbrian commented on #94
I don't remember what XING called their things as they always want to be special and never name the things what they actually are but I found an test application on my local machine that is working just fine, so if you have the right credentials everything should be working fine if you have the right permissions set up.

[2017-08-03 05:40] tobiasdalhof commented on #94
Looks like the they closed their API for new users. I contacted XING for further information.

Thanks for your effort

[2017-08-03 06:06] faustbrian commented on #94
I will try to contact someone who works at XING and let you know if I get more information.

[2017-08-03 06:11] faustbrian commented on #94
From what my friend that works at XING could tell me there are currently security issues with the API and some business clients experience major issues trying to implement OAuth, they are currently working on a new API that should be ready till end of the year.

[2017-08-03 06:29] tobiasdalhof commented on #94
Interesting... Thank you! Looks like I have to stick with LinkedIn OAuth for now. 🤔

[2017-08-04 07:22] #94 closed

[2017-08-07 21:47] Balatsky commented on #43
Hey @tremby, much thanks, your code works well. I think server-side caching is the best solution in this case.

[2017-08-15 12:54] JSponaugle opened #95 "Slack oauth url redirecting to a url that is not for the app."
**Expected Behavior:**
Click Login/Signup
Redirect you url https://(slackteam).slack.com/oauth/<data>
Click 'Continue'
At Dashboard.

**Current Behavior:**
Click Login/Signup
Redirect you url https://(slackteam4).slack.com/oauth/<data>
ERROR: OAuth Error: invalid_team_for_non_distributed_app

**How to Reproduce:**
1. Login to slackteam1 https://(slackteam).slack.com/
2. Login to slackteam4 https:/

[2017-08-20 11:47] faustbrian commented on #95
Are you sure you are setting the correct redirect url? Looks very strongly like an issue with your configuration which results in handling the wrong team.

[2017-09-21 08:06] faustbrian commented on #95
No feedback received, re-open it the issue still persists.

[2017-09-21 08:06] #95 closed

[2017-09-21 08:07] faustbrian commented on #91
Try this commit https://github.com/SocialiteProviders/Manager/commit/4cc05ae61f5ca4fbc6dd08b304f915fb35c1199c

[2017-09-21 08:07] faustbrian commented on #90
No feedback received, re-open it the issue still persists.

[2017-09-21 08:07] #90 closed

[2017-09-21 08:07] faustbrian commented on #87
No feedback received, re-open it the issue still persists.

[2017-09-21 08:07] #87 closed

[2017-09-26 04:05] faustbrian commented on #91
If the issue still continues to exist just re-open.

[2017-09-26 04:05] #91 closed

[2017-09-26 04:07] faustbrian commented on #49
@gmask Has the issue been solved or does it still exist?

[2017-09-26 04:08] faustbrian commented on #93
Still no PR, if you still want to add the provider feel free to send one. Closing for now.

[2017-09-26 04:08] #93 closed

[2017-09-26 15:23] gmask commented on #49
Yeah I never did get this working, and never heard from anyone who did, so I stopped trying to use Socialite in that project. It would be a lot nicer to have this provider though.

[2017-09-27 06:01] faustbrian commented on #49
If you can provide me with test credentials and certificates I can take a look as I am not using JIRA.

[2017-09-27 16:46] gmask commented on #49
Unfortunately our JIRA instance is hosted internally and I can't spin up a test instance on our site at the moment.

[2017-10-06 15:06] skvoz commented on #43
@tremby  much tnx

[2017-11-01 12:13] pirmax opened #107 "setConfig doesn't works"
setConfig() method doesn't works for me...

[code]

[2017-11-01 13:08] faustbrian commented on #107
@pirmax as I said in the dozens of issues you previously opened for this issue... you are welcome to send a PR to fix this issue as you are already experiencing it so should be easy for you to find the problem.

[2017-11-01 17:54] pirmax commented on #107
I do not know how to do that, and for information, I did not open a dozen tickets on this subject.

[2017-11-28 06:56] keesh7663 opened #115 "Discord - Additional scope support natively"
Hi, do you have plans to natively implement adding the other available scopes in gateway v6 (guild list, connections specifically)?  These are extremely helpful tidbits to have when creating a web UI for a bot.

[2017-11-28 07:03] faustbrian commented on #115
https://laravel.com/docs/5.5/socialite#access-scopes

[2017-11-28 07:03] #115 closed

[2017-11-28 07:04] keesh7663 commented on #115
durp, not sure how I missed that...  thanks for the quick reply!

[2017-12-04 09:39] codeitlikemiley opened #124 "Laravel 5.5 question"
I see in the docs that you, you may need to remove
 Laravel\Socialite\SocialiteServiceProvider

but by default in laravel 5.5

the socialiteserviceprodiver is being loaded...

how can i disabled it then?

[2017-12-04 09:44] codeitlikemiley commented on #124
How do use it on laravel 5.5 anyway... can someone shed some light

[2017-12-05 02:14] Axieum commented on #124
I'm going to assume you've already tried following the documentation for adding a new service; http://socialiteproviders.github.io/providers/twitter/. This is basically everything you have to do; except removing the `Laravel\Socialite\SocialiteServiceProvider` since Laravel automatically "discovers" this package. I recommend you still install `Laravel\Socialite` as this gives you access to the `So

[2017-12-08 01:59] tranhl opened #125 "JIRA: Handling case where user denies authentication."
When handling the OAuth callback from JIRA:

`$user = Socialite::driver('jira')->setConfig($config)->user()`

 if the user denies the OAuth request, the Socialite provider throws a Client Exception with this message:

`Client error: 'POST https://JIRA_BASE_URI/plugins/servlet/oauth/access-token?oauth_verifier=denied' resulted in a '401 Unauthorized response:
oauth_problem=permission_denied'`

(Not

[2017-12-08 04:07] faustbrian commented on #125
If a user denies access with any socialite provider you need to either handle that exception on your end for example in your `handleCallback` method.

Some services offer that you set a separate denial callback url which you can set on their website but not all do so it is safer to always handle the exception.

[2017-12-08 05:08] tranhl commented on #125
I noticed that if the user denies access, the callback request includes an `oauth_verifier` value of `denied`. Could we not check for that value in the request and then act accordingly? It would save having to query JIRA's servers and the subsequent exception handling.

[2017-12-08 06:02] faustbrian commented on #125
Yeah, usually a value like that is what you need will need to use to handle your denial action like redirecting them to a page that shows them a message that access has been denied.

[2017-12-09 00:08] tranhl commented on #125
Is it possible to access this value through the Socialite API? I would rather check the value of `oauth_verifier` rather than catch an exception.

[2017-12-11 23:05] ryantology opened #127 "Add normalized profileUrl to all providers"
Would it be possible to add a normalized `profileUrl` to all providers. Facebook returns this in the `provider->user` object but providers like twitter do not. It would be beneficial to have this for other providers as well: twitter, google (when plus is enabled), twitch and others.

This attribute is very helpful in helping users know which social account is being used with that provider. Sometim

[2017-12-12 04:57] faustbrian commented on #127
Shouldn't the username and user ID be enough of an indicator? Also every provider uses different fields so you would need to send a PR for every single provider.

[2017-12-12 15:27] ryantology commented on #127
You are right, it would need a PR from every provider. I'm happy to make this for as many as I can get through in a week. I think the changes are relatively minor and non-breaking so they could be applied over time.

IMO, this seems like it should be a standard attribute. Some providers return a username which the developer needs to prepend with data, others have userid and some others have specia

[2017-12-12 17:21] Jimbolino opened #128 "Merge of Microsoft-Graph and Microsoft-Live into new Microsoft provider"
Both providers use the same urls for requesting tokens and api calls:

https://github.com/SocialiteProviders/Providers/blob/master/src/Microsoft-Graph/Provider.php#L33
https://github.com/SocialiteProviders/Providers/blob/master/src/Microsoft-Live/Provider.php#L32

The Microsoft-Azure provider uses the deprecated V1.0 api, but i do like the configurable "tenant"
https://github.com/SocialiteProvider

[2017-12-13 05:47] faustbrian commented on #128
If Microsoft now uses one API for all those services than you can make a new provider.

[2017-12-13 14:15] faustbrian commented on #127
Sounds good to me, will wait for your PRs.

Maybe we even could implement this as an abstract function in a future version of the manager package, would love to work on that but I have absolutely no time at the moment.

[2017-12-15 09:51] codeitlikemiley commented on #124
just to update this tread, since laravel auto package discovery is at work we dont need to add the serviceprovider on the config/app.php...

we only need to add of course the listener for the event for specific provider

[2017-12-15 09:51] #124 closed

[2017-12-15 10:02] codeitlikemiley opened #129 "How can i Avoid Laravel Socialite to Authenticate a User if i just wanna return the user details and process it ?"
I know this is kind weid but i have an application that utilized laravel sociate and extenstion...
i never used the built in twitter and facebook, so i can change config based on user...

but the normal behaviour would be, is if im already authenticated by laravel passport...
then i tried to authenticated via facebook or twitter,
my old token is being invalidated,

i wanna know what method that re

[2017-12-20 06:33] Madzahttr opened #131 "discord accept invite"
is there a way to make a user accept a discord invite through the discord provider?

[2017-12-20 08:30] faustbrian commented on #131
Socialite Providers are used for authentication, nothing else.

[2017-12-20 08:30] #131 closed

[2018-01-02 12:49] pierrocknroll commented on #129
If you closed it can you provide your solution please ?

[2018-01-13 02:25] codeitlikemiley commented on #129
the solution is simple avoid returning a json that has a key of access_token or token....
so in my user model i added access_token as hidden field

[2018-01-13 02:27] codeitlikemiley commented on #129
this happens when you have a statemanagement on your app or a global variable for example Laravel
that has the access_token or token , what happen is that when return directly you return the access token of Twitter for example thus, when you make subsequent api calls , you are not using anymore the access token provided by laravel passport but by Twitter for example...

[2018-01-19 16:39] #128 closed

[2018-01-30 10:17] onegcc171211101 opened #138 "Dribbble provider is using deprecated v1 API"
Can't use the dribble provider without editing directly in the vendor file..

Needs updating.

[2018-01-30 11:56] faustbrian commented on #138
Feel free to send a PR as this is an open source project.

[2018-02-04 21:03] hsleewis opened #139 "nest provider?"
Hi, Have you ever considered a provider for the NEST API? :)

[2018-02-05 02:08] faustbrian commented on #139
Feel free to send a PR.

[2018-02-05 02:08] #139 closed

[2018-02-06 16:46] #138 closed

[2018-02-07 00:49] okaufmann opened #142 "Telegram Login Widget"
Hi,

Telegram just released a way to login via your Telegram account. https://core.telegram.org/widgets/login.

Is there anyway to at least handle the callback by a socialite provider?

I refactored the original example into an Controller with comments for better understanding whats going on: https://gist.github.com/okaufmann/28fd45d6c91107380953123c2e1e4e03

I think its neither a OAuth1 nor OAuth

[2018-02-07 05:42] faustbrian commented on #142
If it's not a standardized OAuth1 or OAuth1 flow we won't support it.

[2018-02-07 05:42] #142 closed

[2018-02-16 13:59] TNkemdilim opened #145 "No facebook provider"
I know I could use facebook provider for the default socialite provided by laravel, but laravel socialite doesn't provide a way for me to modify the redirect url.

Hence, the i decided to use this package, but I discovered that there is no facbook provider available.

[2018-02-16 14:01] faustbrian commented on #145
Feel free to send a PR for a Provider.

[2018-02-19 12:25] Milad opened #148 "Microsoft Azure doesn't allow to set the prompt option"
Hello

I'd like to ask the user to give consent every time they login. But the current [Microsoft Azure Provider](https://github.com/SocialiteProviders/Microsoft-Azure) doesn't allow the `prompt` [setting](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code).

Could you please add it? Or is it OK if I submit a pull request?

Regards

[2018-02-19 12:43] faustbrian commented on #148
Feel free to submit a PR.

[2018-02-28 14:23] bytestream opened #151 "PHP requirement"
All of the providers seem to have a PHP requirement of `5.6 || 7.0` registered in `composer.json`. This [commit](https://github.com/SocialiteProviders/Providers/commit/dcd7440aeecc42d0c40eef5a5a954ee84ed0a47a#diff-67cb83b11c284295c590ffaf2270858a) allowed use of the `2.0` `socialiteproviders/manager` branch which has PHP requirement of `>=5.4.0`.

Any reason for this? Happy to submit a PR that eit

[2018-02-28 15:19] faustbrian commented on #151
Won't support anything below PHP 5.6 because of the EOL. If you are still on 5.4 you should update asap.

[2018-02-28 15:19] #151 closed

[2018-03-06 08:36] pavelpage opened #153 "Problems with vk provider."
According to https://vk.com/dev/version_update, you should include version as get param in your requests. For example:

`$response = $this->getHttpClient()->get(
            'https://api.vk.com/method/users.get?v=5&user_ids='.$token['user_id'].'&fields='.implode(',', $this->fields).$lang.'&https=1'
        );`

[2018-03-06 09:18] pavelpage opened #154 "Vk provider doesn't return email"
https://api.vk.com/method/users.get?access_token={token}&fields=uid,email,first_name,last_name,screen_name,photo&v=3.0 Such kind of request doesn't return a email value. In verison 3.0.1 everything was working except of using version as required get param.

[2018-03-07 02:34] frutality commented on #154
I found email here: `$socialiteUser->accessTokenResponseBody['email']`. I was confused too when did not found email at `$socialiteUser>getEmail()` or `$socialiteUser->user['email']`.

[2018-03-09 23:32] #49 closed

[2018-03-12 17:46] pavelpage commented on #154
@frutality And How do you use this method? Because, if I try to do it I see the error: `Call to undefined method SocialiteProviders\Manager\OAuth2\User::accessTokenResponseBody()`.  `$user = Socialite::driver($provider)->user();

        dd($user->accessTokenResponseBody('email'));`

[2018-03-13 06:03] frutality commented on #154
It's not a method.
[code]

[2018-05-02 21:52] aleksandrguru opened #166 "Driver [vkontakte] not supported"
Laravel 5.6   Driver [vkontakte] not supported

Twitter работает и Гугл не пойму что не так.

[2018-05-03 01:28] aleksandrguru commented on #166
Исправил моя ошибка была 'SocialiteProviders\\Instagram\\\InstagramExtendSocialite@handle', три слеша было

Но сети ниже так и не заработали

    'SocialiteProviders\\Instagram\\InstagramExtendSocialite@handle',
    'SocialiteProviders\\Disqus\\DisqusExtendSocialite@handle',
    'SocialiteProviders\\Discord\\DiscordExtendSocialite@handle',

[2018-05-03 07:52] aleksandrguru commented on #154
Here works catch

namespace SocialiteProviders\VKontakte;
use Illuminate\Support\Arr;
use Laravel\Socialite\Two\ProviderInterface;
use SocialiteProviders\Manager\OAuth2\AbstractProvider;
use SocialiteProviders\Manager\OAuth2\User;
class Provider extends AbstractProvider implements ProviderInterface
{
    protected $fields = ['uid', 'email', 'first_name', 'last_name', 'screen_name', 'photo'];
    /

[2018-05-04 06:19] apollopy opened #167 "Weixin-Web when will released master branch?"
https://github.com/SocialiteProviders/Weixin-Web/tree/master

https://github.com/SocialiteProviders/Weixin-Web/tree/v3.0.0

[2018-05-07 12:07] Cannonb4ll opened #168 "Request Google Drive login"
Will there be support for the Google Drive login as a socialite provider?

[2018-05-07 12:37] faustbrian commented on #168
This is an open source project, feel free to send a PR for a new provider.

[2018-05-07 12:37] #168 closed

[2018-05-15 10:45] degustadev opened #170 "Instagram's new Graph API"
Is the current Instagram provider ([https://github.com/SocialiteProviders/Instagram](https://github.com/SocialiteProviders/Instagram)) compatible with new Instagram's Graph API integration?

If not, I will add a pull request for this.

Thanks

[2018-05-15 15:17] pierrocknroll commented on #43
Hey,
@tremby great idea. I didn't want to modify directly the lib so I tried to modify my Controller, with success !

Here's a simplified sample :

BEFORE instanciate the Socialite Driver, add a cache key to the callback uri
[code]
( in my code the cache key is set into a class property to use it after, but here I simplified a lot)

Then when redirecting, before that, take the session value and pu

[2018-05-16 14:09] InstanceOfMichael opened #171 "404: http://socialiteproviders.github.io/providers/slack/"
This URL 404s: http://socialiteproviders.github.io/providers/slack/

I found it at https://github.com/SocialiteProviders/Slack

[2018-05-16 14:50] #171 closed

[2018-05-21 10:56] AlexanderWM commented on #154
@aleksandrguru Could you make a pull request?

[2018-05-31 13:28] dedanirungu commented on #145
This is interesting of all things a thought Facebook should be the first provider.

[2018-05-31 13:40] TNkemdilim commented on #145
Same as I thought.. As an alternative, I just simply used the default Socialite that came with Laravel.

[2018-06-09 15:01] bytestream opened #181 "[Steam] Proxy Support"
Lightopenid seems to have proxy support in the second argument of `__construct` (https://github.com/iignatov/LightOpenID/blob/master/openid.php#L44), I would like to see a config option that allows this to set: https://github.com/SocialiteProviders/Steam/blob/master/Provider.php#L30

Happy to submit a PR.

[2018-06-11 20:41] kpapagno opened #183 "Twitch Provider no longer returns email address"
The Twitch API changed in late 2017.  The fix is to replace the scope requested in the provider.php as follows:

    //protected $scopes = ['user_read'];        // Old API format, will be deprecated 12/31/18
    protected $scopes = ['user:read:email'];  // New API format since 8/2017

[2018-06-11 22:07] kpapagno commented on #183
I figured out how to create a pull request to fix this.

[2018-06-11 22:08] #183 closed

[2018-06-20 21:56] srishti04 opened #188 "Slack oauth url redirecting to a url that is not for the app."
This issue is same as one provided in the link. https://github.com/SocialiteProviders/Providers/issues/95

Expected Behavior:
Click Sign in with Slack
Redirect you url https://(slackteam).slack.com/oauth/ and asks to sign in
Click 'Continue'
At Dashboard.

Current Behavior:
Click Sign in with Slack
Redirect you url https://(slackteam4).slack.com/oauth/
ERROR: OAuth Error: invalid_team_for_non_dist

[2018-06-21 15:55] #188 closed

[2018-06-22 21:18] hurbanom opened #190 "Custom propierties Microsoft-Live provider"
Hi.

Recently I used the Microsoft-Live provider and it works, however I needed obtain other properties that the provider dont give by default. For this I solved it updating the function getUserByToken and add another new function.

I attach the new file Provider.php for you can test and updated.

[code]
And this is the example for make the call

[code]

Regards

[2018-06-26 05:36] faustbrian opened #192 "Looking for a new maintainer"
This package is not maintained anymore due to not having the time.

We are looking for a new maintainer that wants to maintain the project and ideally it's someone who already is using the providers.

[2018-06-27 07:51] davodsaraei commented on #192
@faustbrian
I want to maintain this package

[2018-07-04 12:21] dwightwatson opened #196 "Issue with Goodreads provider"
I'm running into an `InvalidArgumentException` on the callback after authenticating with the Goodreads provider - `Invalid request. Missing OAuth verifier.`. Taking a look at the code that triggers this in `SocialiteProviders\Manager\OAuth1\AbstractProvider` it looks like `hasNecessaryVerifier()` is failing.

[code]

The method it calls checks for the existence of two query string parameters in th

[2018-07-04 18:21] KuNman opened #197 "Driver [vkontakte] not supported."
Hello.
I am using yours vk provider some time with Laravel 5.6. It was working. But I checked today and I get this error

 I tried

- change socialiteproviders/vkontakte version to dev-master and 4.0

- composer dumpautoload

- php artisan config:clear

- changed \ to  \ \ in EventServiceProvider.php

[code]
Any help?

[2018-07-11 20:18] lvidal1 commented on #43
Will be support for OAuth 2 for twitter provider?

[2018-07-11 20:56] tremby commented on #43
Last I heard, Twitter doesn't support OAuth 2, at least not for third-party user authentication.

[2018-07-16 19:13] lvidal1 commented on #43
It seems there is already availables Oauth 2 endpoints to be used. However, there will be needed to build a custom provider for that.
https://developer.twitter.com/en/docs/basics/authentication/api-reference/token

[2018-07-17 05:57] tremby commented on #43
From the link you gave:

I could be mistaken, but I believe that is not useful for Socialite.

[2018-07-17 17:20] lvidal1 commented on #43
@tremby you may be right. I just wonder if this provider has ever has been operative the time it was release despite the fact that it was using stateless method with OAuth v1 :/

[2018-07-27 09:04] nickurt commented on #192
Some update on this?

[2018-07-30 20:34] BillRiess commented on #197
I'm getting the same error with the battle.net provider. I've tried everything as well... Seeing how they are looking for a new maintainer I assume there is an issue with the package as a whole. Hopefully, someone will take over and fix it or a new package will popup.

[2018-08-07 05:14] ngyikp commented on #197
Try https://github.com/SocialiteProviders/Manager/issues/125 ?

[2018-08-10 16:38] jewelhuq opened #204 "Want to become maintainer of this repository"
Hello,
I want to maintain this project. Will you please add me as a maintainer?

[2018-08-14 19:16] OzanKurt commented on #94
@tobiasdalhof Any updates about the topic?

[2018-08-14 19:34] tobiasdalhof commented on #94
@OzanKurt Nope, sorry! You could try to contact the Xing team for more info

[2018-08-16 11:53] GinoPane commented on #192
@nickurt probably they are not actively looking 😄

[2018-09-01 18:16] claudsonm commented on #192
So, any updates here?
There are lots of volunteers here and as well on Issue #204

PR's are waiting in line way too long. Someone needs to take better care of this amazing project.

[2018-09-01 18:35] nickurt commented on #192
Indeed, still waiting ... ;/

[2018-09-02 16:58] m1guelpf commented on #192
If you are still searching for people, I'm in

[2018-09-03 02:36] #204 closed

[2018-09-03 11:38] faustbrian commented on #192
@m1guelpf Thanks for offering your help, glad to accept it with your contribution history to various OSS projects.

[2018-09-03 11:38] #192 closed

[2018-09-03 11:44] m1guelpf commented on #181
@bytestream Go ahead!

[2018-09-03 11:44] m1guelpf commented on #197
@KuNman Did you manage to get this working?

[2018-09-03 11:45] m1guelpf commented on #190
@hurbanom @Jimbolino Is this solved?

[2018-09-03 11:46] m1guelpf commented on #145
@TNkemdilim Wanna PR it?

[2018-09-03 11:46] m1guelpf commented on #154
Can anyone PR this?

[2018-09-03 11:48] m1guelpf commented on #170
@degustadev Feel free to PR it!

[2018-09-03 11:50] m1guelpf commented on #125
@tranhl Closing for lack of activity. Feel free to comment if you're still looking for a solution and I'll reopen :)

[2018-09-03 11:50] #125 closed

[2018-09-03 11:51] m1guelpf commented on #127
@ryantology Still up for that PRs?

[2018-09-03 11:51] m1guelpf commented on #167
v3.0.1 was tagged some time ago

[2018-09-03 11:51] #167 closed

[2018-09-03 12:32] dwightwatson commented on #196
No - I wasn't sure if I was alone in experiencing this issue or not, but ended up removing Goodreads from our feature list.

[2018-09-03 13:40] claudsonm opened #207 "Questions about contributing workflow"
Hi there,

I've got a PR merged, added the docs and everything, but things were not that intuitive to figure out. Maybe we need to describe things better on a CONTRIBUTING.md file?

~~Actually, my provider is not available on Packagist yet. If it is something automated, I think it should be done by now, because the [generated GitHub repo](https://github.com/SocialiteProviders/UFS) is already up an

[2018-09-03 13:53] PrinsFrank opened #208 "Azure Conditional Access policy 2FA returns 'interaction_required' 400 response"
We are using the Azure driver to authenticate users. We have a conditional access policy set for users when they are not authenticating from a certain ip to require 2FA. We ran into issues when users tried to authenticate from a different ip and got an 'interaction_required' 400 response because a user was not asked for 2FA.

The problem seems to be that the 'resource'-value is not set when the in

[2018-09-04 14:48] claudsonm commented on #207
Also, I noticed that the [generated repository](https://github.com/SocialiteProviders/UFS) doesn't have any versioning or releases. This is a bad thing for composer, because the package version becomes "dev-master", throwing the [message about the use of unbound versions](https://getcomposer.org/doc/faqs/why-are-unbound-version-constraints-a-bad-idea.md).

I saw that the former maintainer of this

[2018-09-04 16:02] m1guelpf commented on #207
@claudsonm I joined as a mantainer yesterday, and I'm still getting around everything. The Packagist issue (I didn't have publish access) should be solved by now, and I'll also ask the old mantainer about the release process. Will keep this issue updated!

[2018-09-04 16:26] m1guelpf commented on #207
I've manually tagged releases for all the providers that needed it, and also added missing providers to the website's navigation.

[2018-09-05 06:06] bytestream commented on #181
@m1guelpf https://github.com/SocialiteProviders/Steam/pull/3

[2018-09-05 08:49] m1guelpf commented on #181
@bytestream That repository is read-only, you need to PR it here

[2018-09-07 10:08] m1guelpf commented on #208
@PrinsFrank Would love if you could PR the third option to the documentation, as it seems something caused by explicit configuration.

[2018-09-07 13:15] PrinsFrank commented on #208
@m1guelpf Thanks, done!

[2018-09-07 13:15] #208 closed

[2018-09-08 21:08] autaut03 commented on #145
https://github.com/SocialiteProviders/Providers/pull/212

[2018-09-08 21:11] autaut03 commented on #145
https://github.com/SocialiteProviders/Providers/pull/212

[2018-09-09 15:37] bytestream commented on #181
Ah sorry @m1guelpf I've resubmit it here

[2018-09-17 07:10] bytestream commented on #207
@m1guelpf please can you tag Steam

[2018-09-22 12:39] #154 closed

[2018-09-23 21:39] claudsonm commented on #207
Nice @m1guelpf .

And what about some packages not being displayed on the website (https://socialiteproviders.github.io/about.html)
There's anything missing to make it available?

Some examples are UFS and IFSP packages.

[2018-09-27 18:13] sajjad-talebi opened #220 "Driver [Instagram] not supported."
problem to laravel 5.6 and 5.7

[2018-09-28 15:34] m1guelpf commented on #220
please provide more info

[2018-09-28 15:38] sajjad-talebi commented on #220
i am set google plus and ok
but instagram like google plus show message Driver [Instagram] not supported.

Is there a perfect sample for Instagram?

[2018-09-28 15:41] m1guelpf commented on #220
I mean, can you provide Laravel version, PHP version, example code to reproduce...?

[2018-09-28 15:46] sajjad-talebi commented on #220
php 7.2 and laravel 5.7

config/servise.php
'github' => [
    'client_id' => env('GITHUB_CLIENT_ID'),         // Your GitHub Client ID
    'client_secret' => env('GITHUB_CLIENT_SECRET'), // Your GitHub Client Secret
    'redirect' => 'http://your-callback-url',
],

logincontroller:

 public function redirectToProvider()
    {
        return Socialite::driver('github')->redirect();
    }

    /**

[2018-10-03 14:53] jameslkingsley opened #223 "[Deezer] Undefined index: access_token"
I'm getting this error on the callback of the Deezer OAuth.
![screenshot 2018-10-03 at 15 50 31](https://user-images.githubusercontent.com/11015784/46418661-25b26b00-c724-11e8-82fc-2db56df08e15.png)

Here's my redirect code:
[code]

And here's my callback code (where the exception is being thrown):
[code]

[2018-10-03 15:30] m1guelpf commented on #223
PR's welcome :)

[2018-10-04 08:40] jameslkingsley commented on #223
https://github.com/SocialiteProviders/Deezer/pull/3

[2018-10-04 09:49] m1guelpf commented on #223
Please make the PRs to this repo, others are readonly branches

[2018-10-08 07:52] jameslkingsley commented on #223
PR'd

[2018-10-22 17:45] si-dge opened #228 "Driver [Vkontakte] is outdated"
I found two repositories of VK Driver:
1. https://github.com/SocialiteProviders/VKontakte (updated 5 month ago).
2. https://github.com/SocialiteProviders/Providers/tree/master/src/VKontakte (updated 22 sep).

But on https://packagist.org/packages/socialiteproviders/vkontakte last version is 4.0.0 from first repository.
Merge this two versions, please. Without changes in newer rep this driver is no

[2018-10-22 17:50] cutedogspark opened #229 "facebook provider package"
Hi ,  I'm getting this error when use facebook provider

i need dynamic redirect url ~

My shell
[code]

Get this error
[code]

[2018-10-22 17:52] m1guelpf commented on #229
There's no currently a Facebook provider, use Laravel's official one or feel free to PR one

[2018-10-22 17:52] #229 closed

[2018-10-25 12:11] apollopy opened #230 "Naver when will released master branch?"
https://github.com/SocialiteProviders/Naver/tree/master

https://github.com/SocialiteProviders/Naver/tree/v3.0.0

[2018-10-25 20:58] m1guelpf commented on #230
Released v3.1

[2018-10-25 20:58] #230 closed

[2018-11-01 04:41] haruo69 opened #232 "socialiteproviders/facebook can't install by composer"
how do i install socialiteproviders/facebook by composer?

[2018-11-01 09:33] haruo69 opened #233 "Driver [LINE] not supported."
I followed the docs below.but error occured. "Driver [LINE] not supported."
https://socialiteproviders.github.io/providers/line.html

[2018-11-01 09:50] #233 closed

[2018-11-07 10:39] MKiselev commented on #228
+1

[2018-11-08 07:09] abkrim opened #237 "Laravel 5.7 Paypal Driver [PayPal] not supported"
Laravel 5.7
Socialiteproviders/paypal: 3.0
SocialiteProviders/Manager 3.3
PHP 7.2.11

- Install with [manual](http://socialiteproviders.github.io/providers/pay-pal.html#_1-installation)

[code]
- Not remove `Laravel\Socialite\SocialiteServiceProvider` because is Laravel 5.7. Also I need support for access with Faceboo and this work fine)
- Not add `\SocialiteProviders\Manager\ServiceProvider::clas

[2018-11-09 13:03] haruo69 commented on #232
I gave up using socialiteproviders/facebook. Instead, I use facebook provider of socialite and it worked fine.

[2018-11-14 21:12] autaut03 commented on #232
Could you please reopen the issue? It's still a bug, because socialiteproviders/facebook is not identical to the one that comes with socialite.

[2018-11-15 00:34] haruo69 commented on #232
I reopen this issue.

[2018-11-16 18:42] ko5ch opened #239 "Driver [Flickr] not worked correctly, service require additional query parameter"
It is from flickr api documentation.

But without this parameters, flickr can't accept my auth. So i need to manually append "&perms=read" to the authorization URL for it to work.
[screen_one](https://camo.githubusercontent.com/fb2088d15235697386278ada9c11eb95f4777936/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f343330353134362f3936333430302f33623761333235652d303530322d31316

[2018-11-16 21:04] m1guelpf commented on #239
@koshalex69 Maybe you could PR this to the documentation :)

[2018-11-17 10:40] koshalex69 commented on #239
sorry. i can't understand. problem, that without this change(in flickr/Server.php) it doesn't work,
![image](https://user-images.githubusercontent.com/16420776/48660165-e5a21000-ea65-11e8-9e1f-9977a15f7c3e.png).

[2018-11-17 16:56] m1guelpf commented on #239
oh right, I thought it was a configuration issue. I'm fine with updating that, but my concern is that that may block users who are currently using write actions

[2018-11-17 17:29] koshalex69 commented on #239
user can see the difference. if you talking about that :)
![image](https://user-images.githubusercontent.com/16420776/48663863-eefb9e80-ea9e-11e8-89d7-ce3b7c635b71.png)

![image](https://user-images.githubusercontent.com/16420776/48663876-1eaaa680-ea9f-11e8-8c33-b32922e5aabb.png)

[2018-11-17 17:40] m1guelpf commented on #239
@koshalex69 Could you maybe PR a way to switch perms on the URL? 😄

[2018-11-27 11:20] evgeniakuzina commented on #228
I have the same problem.

[2018-11-30 18:58] girmate commented on #166
В EvenetServiceProvider необходимо писать так (мой пример):

[2018-11-30 19:04] girmate commented on #197
Install provider:

[2018-11-30 20:35] #197 closed

[2018-12-13 11:53] AcidF0x opened #240 "Driver [naver] need update"
Naver Driver
1. https://github.com/SocialiteProviders/Providers/blob/master/src/Naver/NaverProvider.php
(commit : 30 Oct)
2. https://github.com/SocialiteProviders/Naver/blob/master/NaverProvider.php
(commit : 12 Feb)

They are not the same file.  Please, Merge this two versions

[2018-12-22 02:32] chancebrilz commented on #237
Have you figured out a solution to this? I am running into the same issue with another driver (Azure).

[2018-12-31 19:40] ronlinet opened #242 "Driver [YouTube] not supported"
The method
return Socialite::with('YouTube')->redirect();
is returning driver not supported error.

I am running Laravel 5.5.44

[2018-12-31 20:19] ronlinet commented on #242
The driver in the manual is misspelled => https://socialiteproviders.netlify.com/providers/you-tube.html .
`return Socialite::with('YouTube')->redirect(); `
should be
`return Socialite::with('youtube')->redirect();`

[2018-12-31 20:19] ronlinet commented on #242
Please update the docs and close the issue.

[2018-12-31 23:31] ronlinet opened #243 "Missing email in Youtube Provider Callback"
The name and email attributes in user object have null values.
The callback is generated by bellow code.

[code]

[2019-01-02 20:45] m1guelpf commented on #243
Can you submit a PR?

[2019-01-02 20:45] m1guelpf commented on #242
Can you submit a PR?

[2019-01-04 18:54] cromartie1984 opened #244 "Could you change url for new bnet dev portal ?"
battle.net -> blizzard.com

Migration : https://develop.battle.net/documentation/guides/migration-guide

[2019-01-05 17:08] m1guelpf commented on #244
Feel free to open a PR!

[2019-01-07 11:09] CSNWEB opened #246 "Google+ (including Sign-in) shutting down"
Sign ins with google will slowly start failing beginning with the 28th of January. Google published a migration guide to the Google Login here: https://developers.google.com/identity/sign-in/web/quick-migration-guide. Are there any plans to integrate this soon?

[2019-01-07 20:47] m1guelpf commented on #246
PRs welcome

[2019-01-11 19:32] antonkomarev opened #257 "[Orcid] driver seems to be broken"
I found `dd($data);` in it's code. Need to assure.

[2019-01-11 19:46] m1guelpf commented on #257
Can you PR this?

[2019-01-11 19:58] antonkomarev commented on #257
Sorry, I don't have enough time to test it. I don't know if it's working. We need somebody to create Orcid application and try to integrate with it, to proof that's all is OK.

[2019-01-11 20:26] antonkomarev opened #259 "Namespace issues"
@m1guelpf Is there is an ability to have extra composer package which will include all the Providers together? I just want to have all of them in my application, and don't want to install and update them one by one.

`composer require socialiteproviders/providers` which will clone https://github.com/SocialiteProviders/Providers repository.

Only one provider has nested `src` folder inside of the p

[2019-01-15 11:36] alex0082ass opened #260 "Snapchat Provider - Missing PKCE Parameters"
Hi,

What can be the cause of the following error?

`return Socialite::with('snapchat')->redirect();`

`{"error":"invalid_request","error_description":"Missing PKCE parameters."}`

Thanks

[2019-01-24 11:14] asntech commented on #257
I need Orcid for an academic App I'm developing. @m1guelpf I'll look into this and do a PR.

[2019-01-31 07:40] #260 closed

[2019-01-31 08:19] CSNWEB commented on #246
#266

[2019-02-01 19:43] spekulatius opened #267 "Multiple scopes aren't working on makerlog"
When defining more than one scope I get a 405:

![image](https://user-images.githubusercontent.com/8433587/52145596-fe4cba00-2693-11e9-9ba6-a20b8733a061.png)

in the address bar it says:

    http://127.0.0.1:8000/makerlog/callback/?error=invalid_scope&state=....

Code:

`
        /**
         * @param string $driver
         * @return redirect
         */
        public function redirectToSocial(

[2019-02-02 16:03] spekulatius commented on #267
Resolved and merged

[2019-02-02 16:03] #267 closed

[2019-02-06 12:54] Ramir1 commented on #232
If you get messages
`[InvalidArgumentException]
  Could not find a version of package socialiteproviders/facebook matching your minimum-stability (stable). Require it with an explicit versio
  n constraint allowing its desired stability.      `

Use
`composer require socialiteproviders/facebook dev-master`

[2019-02-07 09:26] dextermb opened #272 "LinkedIn API v1 deprecation March 1st"
LinkedIn are going to [drop support](https://engineering.linkedin.com/blog/2018/12/developer-program-updates) for `v1` of their API come March 1st 2019 (next month). Currently the LinkedIn provider uses `v1`.

Are there plans to update to [`v2`](https://docs.microsoft.com/en-us/linkedin/) before this happens?

[2019-02-07 11:25] m1guelpf commented on #272
Would love to get a PR for this :)

[2019-02-09 17:30] JTD420 opened #275 "Discord Intergration 401 when using ENV values"
I am trying to add discord integration to my site however unless I manually set the config options I get a 401 unauthorised error!

(More Info)
`  $config = new \SocialiteProviders\Manager\Config($clientId, $clientSecret, $redirectUrl, $additionalProviderConfig);`
If I do the above and then use the `->setConfig($config)` before redirect my code works and it returns the users info, token etc.

Howe

[2019-02-09 17:55] sofwar commented on #275
Hi, did you enter data into the config/services.php file?

`
 'discord' => [
        'client_id' => env('DISCORD_KEY'),
        'client_secret' => env('DISCORD_SECRET'),
        'redirect' => env('DISCORD_REDIRECT_URI')
 ],
`

[2019-02-09 18:01] JTD420 commented on #275
Hi, yes I have them entered in the config/services.php file also

[code]

[2019-02-09 18:04] sofwar commented on #275
Looks like you're not using env correctly. Try entering data directly without it.

` 'discord' => [`
       ` 'client_id' => '539403797894*****',
        `'client_secret' => '*****-AxZVENQRSRM5MMYdCPfb****',
       ` 'redirect' => 'http://###.co/dev/public/provider/discord/callback'
` ]`

[2019-02-09 18:14] JTD420 commented on #275
This fixed my problem, thank you!

Would this constitute a bug/mistake on the documentation then?

Straight from the official sites documentation :

[code]
Link: https://socialiteproviders.netlify.com/providers/discord.html#_4-configuration-setup

[2019-02-09 18:22] sofwar commented on #275
This is not an error in env spelled constant from an .env file. Read the documentation.

https://laravel.com/docs/5.7/configuration#retrieving-environment-configuration

[2019-02-09 18:27] JTD420 commented on #275
But I had it in my .env file aswell and it wasn't working?

[2019-02-09 20:33] #275 closed

[2019-02-09 20:39] JTD420 opened #276 "Discord "invalid state exception""
So I'm getting

error whenever I try and authenticate with discord... It can redirect to provider fine but its when it gets to the callback that I get the errors...

The command
    `$getInfo = Socialite::driver('discord')->user();`
is what is throwing the error I believe but I'm not exactly sure why or what I'm doing wrong....

I am able to get the users info by doing `$discord_model_id = $user->

[2019-02-09 20:43] JTD420 commented on #276
I have got the following DB schema
`        Schema::create('social_accounts', function (Blueprint $table) {
            $table->increments('id');
            $table->integer('user_id')->unsigned();
      	    $table->string('provider_user_id');        //Store the provider's user id.
      	    $table->enum('provider', ['discord', 'facebook', 'twitter', 'linkedin', 'github']); //Store the provider.

[2019-02-10 07:08] sofwar commented on #276
try using **stateless**

`$getInfo = Socialite::driver('discord')->stateless()->user()`

[2019-02-10 16:52] JTD420 commented on #276
Thanks, I managed to get it to work afaict with this instead:

[code]

[2019-02-10 16:53] JTD420 commented on #276
I believe discord requires you to include a header which wasn't being included... That seemed to fix it

[2019-02-10 16:54] JTD420 commented on #276
I've got a new problem of having moved my project to a new webserver and now whenever I try logging in I get 419 Session Expired / Page Expired...

Is there a specific way you're supposed to move servers?

[2019-02-13 00:34] peter-ec opened #280 "Driver['Discord'] not supported"
### Having problem implementing discord as a provider.
I keep getting this issue of:

Driver['Discord'] not supported, and
Driver['discord'] not supported, when I try calling it using 'discord' in my controller that handles the routes.

### **Composer.json**

[code]

### **config/services.php**
In discords redirect uri I have this down as my redirect uri. (I have tried having the uri be .../oauth/

[2019-02-13 00:36] peter-ec commented on #280
I have tried passing through 'Discord' and 'discord'. When passing in these different values I make sure to change anything that may be affected by it such as the redirect URI of the provider, and the redirectToProvider to handle in the different passed in result.

[2019-02-13 14:28] gmatkowski opened #483 "Opskins failed to install package"
# Issue / Motivation:
Cannot install Opskins provider

## Expected behavior:
Install Opskins provider through composer

## Actual behavior:
Error:
[InvalidArgumentException]
  Could not find a matching version of package socialiteproviders/opskins. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stable).

##

[2019-02-14 21:24] jshayes opened #281 "Google provider conflict"
It seems like there is a package naming conflict between the two Google providers.
There is the [Google-Plus provider](https://github.com/SocialiteProviders/Providers/blob/master/src/Google-Plus) that has existed for a while. In the `composer.json` file the name is set to `socialiteproviders/google`.

There is also a new [Google provider](https://github.com/SocialiteProviders/Providers/tree/master

[2019-02-14 21:49] sofwar commented on #281
Google+ integrations for web and mobile apps will also cease to function March 7, 2019. Learn more.
This will be a progressive shutdown, with intermittent failures starting as early as January 28, 2019.

Maybe you should just delete Google-Plus, given that Google completely copies its properties and should replace it.

[2019-02-15 19:22] throttlehead commented on #272
Hey guys, I've got a fix mostly done for this. Should I fork this repo or the readonly one specific for the provider?

[2019-02-17 12:42] m1guelpf commented on #272
Please PR to this repo.

[2019-02-17 18:24] h2u opened #282 "Driver [Etsy] not supported."
Tried etsy, Etsy, ETSY - nothing works.

### Composer.json

[code]

### config/services.php

[code]

### config/app.php

[code]

### App/Providers/EventServiceProvider.php

[code]

### Controller

`return Socialite::driver($provider)->redirect();`

[2019-02-17 18:29] h2u commented on #282
Ok, just found a problem. App/Providers/EventServiceProvider.php, had to add \ to SocialiteProviders\Manager\SocialiteWasCalled::class.

[code]

[2019-02-17 18:29] #282 closed

[2019-02-19 18:15] paligiannis opened #284 "502 Bad Gateway nginx/1.15.8 on Facebook provider"
Two days now I try to spot an issue with the Facebook provider.

**MY SETUP**
PHP VERSION: PHP 7.2.14
Zend Engine v3.2.0
Laravel Valet

**Clearing cache**
php artisan cache:clear
composer dump-autoload

**FILE : .env**
APP_URL=https://mywebsite.test/
SESSION_DRIVER=database
SESSION_LIFETIME=120

FACEBOOK_KEY=19242542********
FACEBOOK_SECRET=60c3c0a346******
FACEBOOK_REDIRECT_URI=https://mywebsite.

[2019-02-22 08:18] paligiannis commented on #284
I spotted this error in the console of nginx!
<img width="1390" alt="screenshot 2019-02-22 at 10 17 51" src="https://user-images.githubusercontent.com/10850092/53228842-288a0a00-368b-11e9-91ee-21f5741be1f7.png">

[2019-02-22 14:10] paligiannis commented on #284
brew uninstall php@7.3
sudo chown -R $(whoami) $(brew --prefix)/*
brew install php@7.3

[2019-02-22 14:11] #284 closed

[2019-02-26 13:07] mohammed-elattar opened #286 "Driver [Twitch] not supported."
### #twitch Provider
**Laravel 5.7
PHP 7.2**
**Driver [Twitch] not supported issue** , i spent the whole day trying to fix it without luck
I folllowed the instructions and always getting the same error ,
I tried all solutions from all issues mentioned here with out luck
I tried capital and small letter for twitch word inside with function
return Socialite::with('twitch')->redirect();::with("Twitch

[2019-03-04 02:58] ajw4sk commented on #239
@m1guelpf  I'm getting this same error - can you set scopes with this like:
return Socialite::with('flickr')->scopes($scopes)->redirect();

[2019-03-06 00:04] maengija commented on #286
Had a same problem. Try write Twitch in lower case.

[2019-03-25 20:41] sander3 opened #294 "Sync "socialiteproviders/jira""
I'd like to use my addition in prod 😄

[2019-03-27 01:17] m1guelpf commented on #294
Done!

[2019-03-27 01:17] #294 closed

[2019-04-04 11:36] yoeriboven opened #297 "Drivers are case sensitive"
Lately there have been a few cases like: `Driver [Driver] not supported.`

Turns out, this is because the driver needs to be lowercase. Docs are showing the Driver in camelcase.

This should be fixed in the docs.

---
This doesn't work.
[code]

This works
[code]

[2019-04-16 07:25] appcarevenkataramana commented on #95
The same issue found, how to solve this issue....?

[2019-04-22 21:43] pipisco commented on #166
А что не так? :)

[2019-04-22 22:54] aleksandrguru commented on #166
Все нормально уже))

[2019-04-25 19:46] andy3471 opened #299 "[Steam] Driver stops working in SocialiteProviders/Manager 3.3.5"
## Laravel 5.8
## PHP 7.3

My steam integration has been working for my site. I have no run composer update, which has update my socialiteproviders/manager package to 3.3.5, which now throws an error (screenshot attached).

Restoring to the previous version, deleting the vendor folder, and running composer install again has fixed the issue for me.

## Controller Redirect
`
    public function stea

[2019-04-29 11:53] yocmen commented on #220
Any update on this? i have the same problem too on Laravel 5.8, php 7.1

[2019-04-30 03:07] sinkcup commented on #299
try 3.3.6.
maybe same as https://github.com/SocialiteProviders/Manager/issues/143

[2019-04-30 03:10] sinkcup opened #304 "split.sh seems not run"
new provider had been added to `build/split.sh` by PR https://github.com/SocialiteProviders/Providers/pull/302

but new repo have not been auto created. 404: https://github.com/SocialiteProviders/WeChatServiceAccount

[2019-04-30 03:10] sinkcup commented on #304
need your help. @m1guelpf

[2019-04-30 03:20] sinkcup commented on #281
yes, it's a bug.

https://packagist.org/packages/socialiteproviders/google

is linked to

https://github.com/SocialiteProviders/Google-Plus

it should be

https://github.com/SocialiteProviders/Google

[2019-04-30 07:51] #281 closed

[2019-04-30 08:33] sinkcup commented on #281
@m1guelpf need run `build/split.sh`, then check https://packagist.org/packages/socialiteproviders/google

[2019-04-30 15:49] edbizarro opened #307 "Site is down"
https://socialiteproviders.netlify.com is down

![Page Not Found](https://user-images.githubusercontent.com/84926/56975051-65b8bf80-6b46-11e9-92f2-24d0e6ef67c4.png)

[2019-04-30 18:56] andy3471 commented on #299
@sinkcup That's done it - all fixed. Thank you very much!

[2019-04-30 18:56] #299 closed

[2019-05-02 06:51] m1guelpf commented on #307
Would appreciate a PR to the documentation site

[2019-05-05 00:09] sinkcup commented on #304
the repo is ok, then need to "submit repo as a package" on packagist.org @m1guelpf
now packages 404:
https://packagist.org/packages/socialiteproviders/wechat-web
https://packagist.org/packages/socialiteproviders/wechat-service-account

[2019-05-06 02:21] sinkcup commented on #281
@m1guelpf maybe should delete the package:

https://packagist.org/packages/socialiteproviders/google

then create it using:

https://github.com/SocialiteProviders/Google

[2019-05-06 04:42] sinkcup commented on #307
PR https://github.com/SocialiteProviders/Documentation/pull/48

duplicate of https://github.com/SocialiteProviders/Documentation/issues/47

[2019-05-06 10:28] m1guelpf commented on #307
Fixed

[2019-05-06 10:28] #307 closed

[2019-05-06 15:19] jshayes commented on #281
Or maybe just create a new version, there are still people using this package. It's had over 11, 000 installs over the last 30 days. So, this should probably be done in a way that doesn't cause any issues for them.

[2019-05-07 02:13] sinkcup commented on #304
Do you have time? Help tag and submit new repo to https://packagist.org/
submit
https://github.com/SocialiteProviders/WeChatServiceAccount
to
https://packagist.org/packages/socialiteproviders/wechat-service-account

and submit
https://github.com/SocialiteProviders/WeChatWeb
to
https://packagist.org/packages/socialiteproviders/wechat-web

@m1guelpf @LasseRafn

[2019-05-07 08:16] LasseRafn commented on #304
Hi, I don't seem to have access to these

[2019-05-07 14:19] sinkcup commented on #304
we need you. @m1guelpf

[2019-05-09 08:38] sinkcup commented on #304
how are you? @m1guelpf

[2019-05-12 10:43] sinkcup commented on #304
happy weekend, waiting your submit. @m1guelpf

[2019-05-14 15:10] sinkcup commented on #304
maybe it's a good idea to set me as a owner of these tow repos:
https://github.com/SocialiteProviders/WeChatServiceAccount
https://github.com/SocialiteProviders/WeChatWeb

so I can create tag and submit packagist. @m1guelpf

[2019-05-16 03:48] price2b opened #308 "SocialiteProviders for MercadoLibre (Latinamerica Ebay) display error."
Dear all,

I took Dropbox socialiteprovider and tried to copy/customize in order to create a provider for MercadoLibre (Latinamerica Ebay) - https://developers.mercadolibre.com.ar -. For some reason is not working, my current error msg is  **"throw new InvalidStateException();"** in OAuth2/AbstractProvider.php.

This is the code I created:
composer.json:

[code]
then I created a folder with name

[2019-05-19 09:47] sinkcup commented on #304
Hello, is there someone? @m1guelpf

[2019-05-20 04:04] sinkcup commented on #304
hello? @m1guelpf

[2019-05-22 08:58] sinkcup commented on #304
are you there? @m1guelpf

[2019-05-27 23:39] m1guelpf commented on #308
@price2b Why did you close this issue? Did you find a solution to your problem?

[2019-05-27 23:40] m1guelpf commented on #281
Yeah, is there a way to do this without breaking BC for the people still running the older version?

[2019-05-27 23:42] price2b commented on #308
Hi @m1guelpf , I didnt find a solution.. usually when I find a solution I share it (the solution or the package). Honestly I was in doubt if it was off topic consequently I choose to close it. I will reopen it.

[2019-05-28 06:58] sofwar commented on #308
Did you try to put another namespace?

```namespace Price2b\Mercadolibre;```
on
```namespace SocialiteProviders\Mercadolibre;```

[2019-05-28 11:41] price2b commented on #308
hi @sofwar , I will try that change and let you know..

[2019-06-01 17:38] price2b commented on #308
Hi @sofwar @m1guelpf , I created a new package https://github.com/price2b/melisocialite and published at packagist so it can be installed using composer. the current error I received is

![Captura de pantalla 2019-06-01 a las 2 33 15 p m](https://user-images.githubusercontent.com/396666/58751814-4fba5980-847a-11e9-84ca-06946062abf4.png)

@sofwar regarding the namespace: SocialiteProviders\ is an a

[2019-06-03 07:16] m1guelpf commented on #308
Hey @price2b!

Sorry for the late response, I've been really busy with school and haven't had time to run the split script.

Will try to get this done today and push to packagist, sorry for the inconveniences!

[2019-06-03 15:21] price2b commented on #308
Im facing problems with InvalidStateException when I try to invoke:

$user = Socialite::driver('melisocialite')->user();
$accessTokenResponseBody = $user>accessTokenResponse

the error comes from: price2b/melisocialite/Provider.php InvalidStateException.. in function

[code]

Im trying to see why Im receiving the error

[2019-06-03 21:49] oranges13 commented on #297
Neither of these work for me, Laravel 5.8 php 7.1 brand new install.

[2019-06-03 22:04] oranges13 commented on #286
@ghost #282 fixed this for me. I was lacking a slash in front of `SocialiteProviders\Manager\SocialiteWasCalled::class'

@mohammed-elattar your issue is that your `\SocialiteProviders\Manager\SocialiteWasCalled::class' array is INSIDE your `Registered::class` array which is incorrect.

It should look like this
[code]

You may also need to add slashes in your `'SocialiteProviders\\Twitch\\TwitchExt

[2019-06-05 14:41] m1guelpf commented on #304
Hey! I'm really sorry about this. I've tagged and added the two repos to packagist.

[2019-06-05 14:41] #304 closed

[2019-06-05 23:37] pxgamer commented on #297
This should probably be an issue on the [SocialiteProviders/Documentation](https://github.com/SocialiteProviders/Documentation) repository.

Looking at your example of Slack, it seeks to be lowercase in the docs, but I guess you just put that as an example.

I guess either it is an issue with the `name` keys for the [`providers.js`](https://github.com/SocialiteProviders/Documentation/blob/master/d

[2019-06-06 11:42] apmyp1990 opened #314 "Call to undefined method setTenantId() in Microsoft-Graph Provider"
Hi guys,
I have installed the SocialiteProviders/Microsoft-Graph provider and the laravel/socialite package in my laravel project via composer. As provided in the documentation of socialiteproviders (https://socialiteproviders.netlify.com/providers/microsoft-graph.html) I want to set an explicit tenant id by using `setTenantId('my-secret-tenant-id')` because I do not want to implement a multi-tena

[2019-06-06 15:40] oranges13 commented on #297
Reviewing the documentation the required `\` that fixed this issue for me is already present in the documentation, I'm unsure why I overlooked it, but it fixed it for me.

[2019-06-07 13:59] pxgamer commented on #272
It looks like this can be closed since #283 was merged. 👍

[2019-06-07 14:01] pxgamer commented on #257
Looks like this can be closed by #263 if it's been tested?

[2019-06-08 15:08] Jimbolino commented on #314
I think you have to use the dev-master in your composer.json,
because the latest "stable" is from 2017, and doesnt have the function.

https://github.com/SocialiteProviders/Microsoft-Graph/releases

[2019-06-11 14:47] wells commented on #314
Somebody needs to tag that release... dev-master for now...

[2019-06-14 14:40] LukeStanbery89 opened #316 "Add provider for "Sign In with Apple""
Please create a Socialite provider for [Sign In with Apple](https://developer.apple.com/sign-in-with-apple/).

Sorry if this is not the right place to submit this request. Please let me know if there is a better place.

[2019-06-14 14:47] LukeStanbery89 commented on #316
I see that there is already a [pull request](https://github.com/SocialiteProviders/Providers/pull/315) for this, so I am closing this issue.

[2019-06-14 14:47] #316 closed

[2019-06-18 19:56] MCKLtech commented on #297
Minor note, as it possibly fits this minor bug:

https://socialiteproviders.netlify.com/providers/hub-spot.html

The correct driver term is **hubspot** when in camel case e.g. HubSpot, it does not work.

[2019-06-18 20:10] MCKLtech opened #408 "HubSpot Scopes - Wrong URL Encoding"
For example, when called like this:

`return Socialite::with('hubspot')->scopes(array('contacts', 'oauth'))->redirect();`

The URL is:

`&scope=contacts%2Coauth&response_type=code&state`

However, as per HubSpot's docs, it should be:

`contacts%20oauth`

In URL decoded terms, there should be a space (%20) between the scopes, not a comma (%2C)

[2019-06-24 08:37] apmyp1990 commented on #314
That solved my issue, thanks!

[2019-06-24 08:37] #314 closed

[2019-06-26 11:45] m1guelpf commented on #257
Closing this, let me know if this is still an issue

[2019-06-26 11:45] #257 closed

[2019-06-26 11:45] #272 closed

[2019-07-03 14:48] MCKLtech opened #320 "Zendesk is Missing Subdomain"
In the docs for Zendesk:

https://socialiteproviders.netlify.com/providers/zendesk.html

The config should include the subdomain:

[code]
Failure to include the subdomain will result in OAuth failure as getSubdomain() in the Provider.php will return an empty string.

[2019-07-07 18:37] FrouxBY opened #322 "Nextcloud Oauth Provider"
Hi,

Does someone will have the time to add a Nextcloud provider to Socialite ?
I'll find it very helpful for use in some app like BookStack,

Thanks,

[2019-07-16 18:48] MCKLtech opened #323 "Set HTTP Headers Dynamically?"
There is one case that I've discovered where the Content-Type header must be set. For example, in the Salesforce provider with Lightning services, the HTTP _Content-Type_ must be _application/x-www-form-urlencoded_

If it isn't, the result is a **unsupported_grant_type**

Inspecting the error, the _Accept_ header is set to _application/json_ but having tried the following:

[code]

There is no eff

[2019-07-17 04:12] sinkcup commented on #304
@m1guelpf, I had wait one month, it's too late, so I create a new org and repo: [socialite providers](https://github.com/laravel-socialite-providers), it can split and release tag automatically by CI.

https://github.com/laravel-socialite-providers/socialite-providers/blob/master/.circleci/config.yml

[2019-07-17 14:45] samarqhand opened #324 "composer requires old version of linkedin provider"
I'm running php 7.3.x on windows with composer 1.8.6.

doing `composer require socialiteproviders/linkedin` seems to work just fine, and so does the login on linkedin.com but I get the error

`Client error: `GET https://api.linkedin.com/v1/people/~:(id,formatted-name,picture-url,email-address,public-profile-url)`resulted in a `410 Gone` This resource is no longer available under v1

When the login

[2019-07-18 10:29] m1guelpf commented on #304
@sinkcup I'd love it if you could PR a version of that script to this org to keep everything updated ❤️

[2019-07-19 08:09] m1guelpf commented on #323
It should be possible to add some kind of setter to the Manager underlying package. I'd be open to accepting a PR for this :)

[2019-07-19 08:10] sinkcup commented on #304
at first, I want to make a PR, but then I found this org and repo having some problem and some can not be fixed:

1. github org URI and composer org URI don't follow slug style standard, it's difficult to read, you can see warnings in IDE or Chrome input box. the better URI is "github.com/socialite-providers" or https://github.com/laravel-socialite-providers

![image](https://user-images.githubuse

[2019-07-19 08:13] m1guelpf commented on #304
@sinkcup I see how other names would be better but I'm afraid this organization has been around for too long to just change this. Also, renaming packages would be a breaking change. I'm fine with managing the docs myself (as that's done by Netlify) and maintaining a reference that joins paths and repos (maybe a JSON version of the split.sh file? My issue is with having to re-run manually the split

[2019-07-19 08:14] m1guelpf commented on #320
Feel free to open a PR on the docs repo or in here for added validation

[2019-07-19 08:32] sinkcup commented on #304
@m1guelpf, you are right, we can't change a wildly used package's name.

I have a suggestion: keep this org and repo only for reading, we use "github.com/socialite-providers" or https://github.com/laravel-socialite-providers as a new begin, and format providers and docs to the new repo.

split and tag can be automatical, but packagist.org doesn't support submit a package by API, so we need to subm

[2019-07-20 20:17] m1guelpf commented on #304
Hmmm, I'd like to preserve stats if possible. Let me contact packagiat support to ask if there's a better way of managing this.

[2019-07-29 04:15] tolawho commented on #232
Same. Can't install it.

[2019-08-02 13:28] InstanceOfMichael opened #326 "AWS Cognito Provider?"
Anybody working on an AWS Cognito Provider for Laravel Socialite?

[2019-08-05 13:58] InstanceOfMichael commented on #229
[code]

[2019-08-08 09:37] stevesweets commented on #107
@faustbrian I had a look at this same issue, wasn't able to quickly repair it myself. Looks something like setConfig isn't actually reading the parameters from what is passed, but instead is loading them from the environment file.  That was what led me to a solution to an issue I was having in configuring JIRA, which also led me to update the documentation for it and send in a PR.

Think this issu

[2019-08-19 09:38] emotality commented on #324
Yes, this provider is outdated and still calling v1 endpoint.

More about the new endpoint:
https://docs.microsoft.com/en-gb/linkedin/consumer/integrations/self-serve/sign-in-with-linkedin

Might consider doing a PR but this place seems dead. So rather fork and fix?

[2019-08-28 06:57] cherryred5959 opened #334 "Is there a reason you're not releasing a new tag of Naver?"
https://github.com/SocialiteProviders/Naver/tree/v3.1.0
Is there a reason why you haven't released a new tag since that 3.1?

https://github.com/SocialiteProviders/Naver/commit/58e298d9ca9f728866ecf25e9e39d7386bcb3002#diff-b5c55cdefc46e252adb39d5bbf0aceb8
I need the contents of that commit.

The commit was merged as many as eight months ago, And yet why?

[2019-08-28 13:05] barryo opened #335 "Add the package / repo socialiteproviders/peeringdb to Packagist"
Hi,

apologies, I'm not sure how this usually works but is it possible to add the package / repo socialiteproviders/peeringdb to Packagist?

Ref: #310

Thanks!

[2019-09-02 14:13] warlord0 opened #337 "400 Bad Request with graph setTenantId()"
__Laravel v5.8, "socialiteproviders/microsoft-graph": "^2.1"__

If I setup my key as multitenant I can get authorised. But when I change it to single tenant and try to add in the tenant Id as I don't want every man and his dog logging in, I get the following error in Laravel.

[code]
Which seems kind of strange. I was expecting the part of the url `/common/` to be my tenant Id.
In my `.env` I have

[2019-09-02 15:09] warlord0 commented on #337
Hmm, after some poking around in the `Provider.php` I dropped in some `dd()`'s

[code]
results in the corrent Url:

[code]

[code]

Results in the incorrect url. So is it not able to access the variables in `$this->getTenantId()` or is it too early?

[code]

[2019-09-02 16:50] warlord0 commented on #337
I decided to try another browser, in case I'd got some session data or cookie issue. It looks like I am successfully logging in as I get the MS modal dialog asking if I want to remain logged in. If I say no it continues and then I get the 400 error.

So I'm suspecting that after I login it tries to get the token and then that's where the `getTokenUrl()` is falling over.

[2019-09-03 15:38] apollopy opened #338 "WeChat Driver is a stripped down version of the weixin Driver"
Weixin is WeChat, just in a different language. The Weixin driver is much more complete. In order to avoid confusion, I suggest deleting the WeChat driver.

The same
[code]

and The same
[code]

[2019-09-04 04:24] harrygulliford commented on #337
I stumbled upon this issue too. You also need to set your tenant id in the `handleProviderCallback()` function too.

[code]

I'd also reccomend swapping out the `env()` calls to `config('services.graph.tenant_id')`, which will mean your code won't break if the config is cached.

There's an open PR #332 waiting to be merged which will automatically inject the `tenant_id` value from `app/services.ph

[2019-09-04 13:43] cherryred5959 opened #339 "NaverProvider parseXML returns an empty string in certain custom Guzzle client."
I had an unknown problem in production, so I tried to log all requests and responses through the `setHttpClient` method in` Laravel \ Socialite \ Two \ AbstractProvider`.

My sample code,
[code]

In this way, if the response is read first in the middleware phase, the following code, which is called afterwards, will always return an empty string.

[code]

To solve this, we need to reread the stream

[2019-09-04 14:08] warlord0 commented on #337
Many, many thanks. Seems obvious when you see it :) So often one line of code is all it is.

[2019-09-04 14:08] #337 closed

[2019-09-04 14:37] m1guelpf commented on #334
Just tagged

[2019-09-04 14:37] #334 closed

[2019-09-04 14:38] #339 closed

[2019-09-04 14:42] cherryred5959 commented on #334
Right, I just checked the new tag, thank you!!

[2019-09-04 19:43] Francismori7 opened #341 "Laravel 6.0"
It appears that installing for example the Azure driver on a fresh Laravel 6.0 installation does not work. It ends up saying that the Azure driver is not supported.

I ran tests, and the SocialiteWasCalled event DOES get fired properly, however the listeners do not appear to run, hence the Azure driver is never created.

[2019-09-05 13:20] cherryred5959 opened #342 "Kakao user, may be empty properties field."
I found that the problem occurred in certain Kakao users.

`Undefined index: properties`

[see](https://devtalk.kakao.com/t/properties/53284/2)(This is written in Korean.)

The article says that accounts that are not associated with any Kakao service may not have a 'properties' field.

In fact I was able to find the response in my log in the following format:
[code]

Even when the 'properties' fie

[2019-09-05 17:17] Francismori7 commented on #341
See https://github.com/SocialiteProviders/Manager/issues/147

[2019-09-05 17:17] #341 closed

[2019-09-07 00:27] jimsug opened #344 "Discord scopes are explicitly defined in the provider"
The Discord Provider overrides the default (empty) array of scopes. Because of the way that `scopes()` is implemented on `BaseProvider`, this means that if developers don't want to request email information, passing `->scopes(['identify'])` (i.e. explicitly _not_ requesting email) doesn't function as expected.

https://github.com/SocialiteProviders/Providers/blob/master/src/Discord/Provider.php#L1

[2019-09-09 02:49] m1guelpf commented on #335
https://packagist.org/packages/socialiteproviders/peeringdb

[2019-09-09 02:49] #335 closed

[2019-09-09 02:49] #342 closed

[2019-09-09 02:51] m1guelpf commented on #107
what @faustbrian said

[2019-09-09 02:53] m1guelpf commented on #324
Tagged a new release that includes the commits that were already in the repo. Feel free to PR the new endpoint

[2019-09-09 02:53] m1guelpf commented on #324
Actually I'll leave this open to track the new endpoint change 😄

[2019-09-09 02:54] m1guelpf commented on #344
Feel free to PR this :D

[2019-09-09 02:54] m1guelpf commented on #338
Is there a way to do this without breaking the apps of people who already rely on the WeChatWeb driver?

[2019-09-09 02:56] m1guelpf commented on #326
Not that I'm aware of, feel free to PR one 😃

[2019-09-09 02:57] m1guelpf commented on #232
Should be fixed now

[2019-09-09 02:57] #232 closed

[2019-09-12 06:51] saundefined opened #506 "[discussion] Extend documentation"
Maybe add to the documentation information about where and how to register an OAuth application for authorization and a link to the documentation (if exists)?

[2019-09-23 14:56] Micky5991 opened #349 "Update Slack Provider on Packagist"
The latest version of `socialiteproviders/slack` is over 2 years and does not contain fixes for breaking changes for Laravel 6.0.

In the latest released version of it on packagist contains the removed `array_get` helper, but the current version on `master` contains the new `Arr::get` helper.

Please update the version on packagist, so it is compatible with Laravel 6.0.

`master`: https://github.c

[2019-09-23 15:53] SeoFood commented on #344
Workaround:

[code]

[2019-09-25 09:26] kalizi opened #350 "Update Twitch Provider on Packagist"
The latest version of `socialiteproviders/twitch` is 5.0 and does not contain fixes for breaking changes for Laravel 6.0.

In the latest released version of it on packagist contains the removed `array_get `helper, but the current version on master contains the new `Arr::get` helper, I had to update composer.json in order to get `dev-master` version in order to make it work.

Please update the vers

[2019-09-30 08:42] m1guelpf commented on #350
DOne

[2019-09-30 08:42] #350 closed

[2019-09-30 08:43] m1guelpf commented on #349
Done

[2019-09-30 08:43] #349 closed

[2019-10-02 01:28] jimsug commented on #344
Is this tested and works, though? I would expect that you must pass at least one valid scope to a provider.

The `setScopes()` methods does an `array_merge()`, and this means that that hardcoded and explicitly defined scopes will be merged with the empty array: https://github.com/laravel/socialite/blob/4.0/src/Two/AbstractProvider.php#L305

Even if it works, though it's probably the wrong behaviou

[2019-10-02 01:39] jimsug commented on #344
Hrm. Having looked at the other providers, there seem to be default scopes set, so changing this would break the pattern. I don't think the PR is required.

[2019-10-02 01:39] #344 closed

[2019-10-13 12:53] abenettt opened #353 "Use https version of twitter profile image url"
Currently when populating the Twitter Oauth1 User, we're providing the object with the http profile url of the twitter account even tho the https url is available I think it might be better to provide the https url per default.

[2019-10-19 09:46] #353 closed

[2019-10-19 10:25] sathishkannangit4 commented on #320
\||

[2019-10-19 10:26] sathishkannangit4 commented on #320
i dont know bro

[2019-10-22 09:17] RobertBoes opened #355 "Automate releases"
There hasn't been an update to `socialiteproviders/vimeo` since Jan 26, 2017 while a PR (#298) has been merged with useful changes. I don't know for other libraries, but wouldn't it be better to use a release method that Illuminate is using? They basically have some sort of composer sub-modules. Each release is then automatically done for each sub-module.

[2019-10-26 13:18] Ivcho-Varna commented on #220
I've been struggling with the same problem for the last few hours. Hope this helps you:

WORKING:

`<?php

namespace App\Providers;

use Illuminate\Auth\Events\Registered;
use Illuminate\Auth\Listeners\SendEmailVerificationNotification;
use Illuminate\Foundation\Support\Providers\EventServiceProvider as ServiceProvider;
use Illuminate\Support\Facades\Event;

class EventServiceProvider extends Serv

[2019-10-30 19:51] Paulsky opened #356 "CoinBase: 404 Not found"
Hello,

The `getUserByToken()` results in a 404 (https://api.coinbase.com/v1/users/self). I think this has to be updated to `https://api.coinbase.com/v2/user`.

But when I do that, I receive an error 'Undefined index: user', probably from the 'mapUserToObject' function.

[2019-10-31 07:42] faustbrian commented on #356
https://github.com/SocialiteProviders/Providers/pull/357 should resolve this

ping @m1guelpf

[2019-10-31 07:43] Paulsky commented on #356
Thank you @faustbrian !

[2019-10-31 10:07] Paulsky commented on #281
How to find and use the correct (new) one? The old one is not working anymore (error on the endpoint). This project is really a maze. A lot of providers in the documentation are removed/not working/deprecated and working providers are not documented and hidden. Is this the correct one: https://github.com/jihwan-baek/Google-Plus/(socialiteproviders-comento/google)? Why is it called Google PLUS whil

[2019-11-05 03:47] paulohenriquesg opened #359 "Call to undefined function SocialiteProviders\Spotify\array_get()"
I see that the code for the provider is already fixed, but no release is provided with the fix.

[2019-11-07 21:11] Zemill opened #362 "Battle.net Provider"
I was having issues getting the battle.net provider to work and looked into the code and believe I found an issue.

The code is calling the following endpoint in the Providers.php class file, in protected function getUserByToken($token) method

`.api.battle.net/account/user`  I believe it should be  `.battle.net/oauth/userinfo`

[2019-11-14 11:03] philmarc opened #367 "Etsy permission scopes"
By default, when authorizing with Etsy, all of the [Etsy's permission scopes](https://www.etsy.com/developers/documentation/getting_started/oauth#section_permission_scopes) are enabled.

In order to restrict those permissions, is there a way to override the url returned by [`urlTemporaryCredentials()`](https://github.com/SocialiteProviders/Providers/blob/master/src/Etsy/Server.php#L16) method:
[co

[2019-11-14 16:51] Zakini opened #368 "Update Okta provider on Packagist"
Just to echo an issue raised on the Okta subtree (https://github.com/SocialiteProviders/Okta/issues/3) and similar issues in other providers, the Okta provider is incompatible with Laravel 6 due to the breaking changes to array helpers.

This is issue is already fixed in master, so could this version please be released and pushed to Packagist?

[2019-11-14 22:09] mrstu84 commented on #220
A combination of @sajjad-talebi  and @Ivcho-Varna solutions worked for me with Laravel 6.

Any call to the driver should reference "instagram" - note the lowercase "i".

`Socialite::driver('instagram')->redirect();`

And within the EventServiceProvider make sure to use the fully classified class name in the listener declaration.

`\SocialiteProviders\Manager\SocialiteWasCalled::class => [
    'Soc

[2019-11-15 10:55] philmarc commented on #239
Any update on that issue?
I'd need the same for Etsy provider.

[2019-11-15 12:15] #367 closed

[2019-11-20 02:25] cherryred5959 opened #369 "Driver [kakao] need update"
#343 The Kakao driver needs update on the this commit.

Also, I need a new tag.

[2019-11-29 09:09] m1guelpf commented on #355
We're working on this (see #363), would love your help :D

[2019-12-02 12:59] khandurdyiev opened #372 "Create new release for Dropbox"
Fix exists in master, but not released yet

Call to undefined function SocialiteProviders\Dropbox\array_get()

[2019-12-08 14:16] m1guelpf commented on #372
Just tagged v4.1

[2019-12-08 14:16] #372 closed

[2019-12-08 14:29] m1guelpf commented on #355
Hey @atymic we're having some issues with the script erroring on the Google repo, could you take a look?

[2019-12-08 22:04] atymic commented on #355
👀

[2019-12-08 22:10] atymic commented on #355
PR created in #376 just a typo in the URL :)

[2019-12-09 13:15] cherryred5959 commented on #369
Plz, just tagged

[2019-12-09 20:58] VoroninWD opened #377 "Class 'LightOpenID' not found for Steam provider"
Dependency is not installed automatically. Manual installation solves the problem.

![image](https://user-images.githubusercontent.com/20097205/70472057-20467280-1ad7-11ea-9106-2efd0a812d36.png)

[2019-12-09 21:00] VoroninWD commented on #377
[code]

[2019-12-11 17:38] Zemill commented on #362
The issue appears to be that composer is using the latest package, which is not the correct commit.  Switching the version to dev-master in the composer.json file resolves the issue.

[2019-12-12 01:41] clugg commented on #377
Did you install `socialiteproviders/steam` via composer? I see that you have it installed, but I'm not seeing it in your `composer info` output. This package has a dependency of `iignatov/lightopenid` (see [here](https://github.com/SocialiteProviders/Steam/blob/master/composer.json#L13)), which would be automatically resolved if installed correctly.

I presume you are using the `socialiteproviders

[2019-12-12 03:07] sinkcup commented on #338
@apollopy WeChatServiceAccount is more semantic than weixin, and no warning in IDE.

I suggest: copy features which you need to WeChatServiceAccount and WeChatWeb.

[2019-12-12 08:12] m1guelpf commented on #362
Should be fixed now

[2019-12-12 08:12] #362 closed

[2019-12-12 08:13] m1guelpf commented on #359
Tagged a new release.

[2019-12-12 08:13] #359 closed

[2019-12-12 08:14] #356 closed

[2019-12-12 08:15] m1guelpf commented on #369
Just tagged a new release

[2019-12-12 08:15] #369 closed

[2019-12-12 08:16] m1guelpf commented on #377
Closing because it does seem that the provider wasn't installed individually. Let me know if there's something else to this and I'll reopen :D

[2019-12-12 08:16] #377 closed

[2019-12-12 08:23] m1guelpf commented on #127
Closing for inactivity

[2019-12-12 08:23] #127 closed

[2019-12-12 08:23] #129 closed

[2019-12-12 08:23] m1guelpf commented on #148
Closing due to of lack of activity.

[2019-12-12 08:23] #148 closed

[2019-12-20 08:39] fwartner opened #380 "Wunderlist issues"
1. Wunderlist instead of Wonderlist
2. Wunderlist will be shut down next year.

:D

[2019-12-20 08:39] #380 closed

[2019-12-27 16:43] 1337erik opened #381 "Upcoming Chrome 80 changes and Okta Provider"
Received an email at work today alerting us of an upcoming change with chrome and handling cross-site cookies for Okta that will occur February 2020, I checked our code base and learned that we use this package for handling our Okta SSO authentication. I'm trying to figure out information about whether or not this change will effect us, and if we will have to do custom work to the package to handl

[2020-01-03 20:38] benjivm opened #383 "Replace LightOpenID for Steam provider"
The [Steam provider](https://github.com/SocialiteProviders/Steam) depends on [LightOpenID](https://github.com/iignatov/lightopenid), which is [abandoned](https://github.com/iignatov/LightOpenID/issues/9#issuecomment-186659836). It is currently incompatible with PHP 7.4 and has pull requests open since 2016.

Error Exception on callback:
[code]

From `iignatov\lightopenid\openid.php:891`:
[code]

[2020-01-06 00:35] m1guelpf commented on #383
PRs welcome!

[2020-01-07 14:00] jameshulse opened #384 "Create new release for Okta"
Hi, as the other issues mention, I've run into Laravel 6 support issues with the Okta provider. Fix exists in master, but not released yet. Can we please get a new release tag.

`Call to undefined function SocialiteProviders\Okta\array_get()`

[2020-01-15 09:32] kajack commented on #196
I just had this issue. I guess no solution?

[2020-01-23 21:40] hugeps commented on #384
Copy that! Same problem here

[2020-01-23 21:56] timothyrowan commented on #368
Anything?

[2020-01-24 11:56] jameshulse commented on #384
@hugeps, if you haven't already done so, until they do the release you can work-around the issue by setting your composer.json as follows:
[code]

[2020-01-31 11:14] Paulsky commented on #243
Any update? I think the wrong scope is used? Not sure

[2020-02-16 13:00] ToeiRei commented on #383
as get_magic_quotes_gpc does not exist in php anymore, returning false since 5.4(?) it shouldn't be a big deal patching that up, I'd say until we get things back on track

[2020-02-16 13:33] ToeiRei commented on #383
@benjivm a quick fix I'd suppose is swapping out that line with
`$params['openid.' . $item] = $this->data['openid_' . str_replace('.','_',$item)];`

[2020-02-22 07:32] larvacent commented on #338
WeChatServiceAccount and WeChatWeb Written parameters, can not be customized, I will not use.

[2020-02-29 00:54] koshian opened #390 "microsoft-graph: mail field is always null"
Hi.
getEmail() method return null with microsoft-graph.

format of userPrincipalName is RFC822 mail address.  It seems correctly email address on Microsoft Graph API.

https://docs.microsoft.com/en-us/graph/api/resources/office365activeuserdetail?view=graph-rest-beta&viewFallbackFrom=graph-rest-beta

Could you use userPrincipalName as email address instead of mail field?

[code]

[2020-03-05 11:55] pmayet commented on #243
The scope used is `https://www.googleapis.com/auth/youtube.readonly`.

With this one, it's not possible to get the email.  There are no other scope matching the need available. I think we can close this issue.

[2020-03-24 11:55] johandavidsen opened #391 "Issue with Asana User object"
Asana has changed the User object structure from using *id* to *gid*, see more [here](https://forum.asana.com/t/asana-is-moving-to-string-ids-updated-with-revised-timeline/29340).

Therefor, this line needs to be changed to support *gid*
https://github.com/SocialiteProviders/Providers/blob/8b866102fc34d2c1450318025e268f858ec8a5db/src/Asana/Provider.php#L54

[2020-03-24 18:54] gofish543 commented on #384
Can we get that release?

[2020-03-25 16:12] PenguinNexus opened #393 "Discord: Return values of extra scopes"
Hi there,

I've added in the guilds and guilds.join scope, however I cannot find how to return the guilds that the user is in through this provider.

Any guidance would be appreciated, thank you.

[2020-03-27 17:41] pacoorozco commented on #368
Please, can you update Packagist version? If you need help I can do it for you xD

[2020-04-01 13:43] MegaGoblin opened #394 "Unhandled ErrorException in YouTube Provider"
[code]

Situation: User have google account, and don't have youtube-account (not created yet)

Than:
ErrorException is occurs  in `return` on getting ['items'][0]
`items` is empty and i have ErrorExceprion with message `Undefined offset: 0`

[2020-04-04 16:26] Jimbolino commented on #390
Microsoft-Graph should be deprecated.
Use "Microsoft" instead
https://github.com/SocialiteProviders/Providers/blob/master/src/Microsoft/Provider.php#L68

[2020-04-04 16:44] chescos commented on #383
Would we need to fork `iignatov/lightopenid` in order to replace that line or is there a better way to accomplish this?

[2020-04-04 17:28] ToeiRei commented on #383
@chescos either that or get another implementation running.

[2020-04-08 12:49] gordonzero opened #395 "Laravel 7 - Salesforce Driver - undefined function array_get"
Laravel 7.4
Socialiteproviders/salesforce: 3.0
SocialiteProviders/Manager 3.5
PHP 7.4.4

error seams to be related to how the provider pulls the variables out of the user array in the mapUserToObject function.

will attach a fix to this issue shortly.

[2020-04-08 13:08] #395 closed

[2020-04-09 18:11] iansltx opened #396 "Salesforce provider should be tagged"
Right now the currently tagged version of the Salesforce provider (3.0) uses array_get, which doesn't work for Laravel 6+. The fix is on master but there's no tag for it. Not sure whether there are BC breaks (I'm guessing not) but we either need 3.1 or 4.0 here so you don't have to grab dev-master.

[2020-04-09 20:38] K1lleR8 commented on #286
My code looks like as it should be but I still get the same error!

I'd appreciate any help.

[2020-04-14 21:03] ZeProf2Code opened #397 "Provider Request » WHMCS"
Hello! I'm requesting a provider for WHMCS because I don't really know how that OpenID is working.
Here is the WHMCS OpenID documentation : https://docs.whmcs.com/OpenID_Connect_Developer_Guide
Thank you.

[2020-04-17 07:31] mwkohler opened #398 "Slack: define team id in auth URL"
According to Slack's documentation you can define a team_id on the URL, that would be nice to be able to do with the Slack provider package too. so you could go something like
`Socialite::with('slack')->team('xxx')->redirect();`

If I can figure out how to do it, I might make a PR.

[2020-04-18 00:48] atymic commented on #398
This sounds like a great feature!
PR would be welcome!

[2020-04-18 00:49] atymic commented on #397
Hey!

Thanks for the suggestion :)
I anyone wants to take a crack, feel free to PR.

[2020-04-18 00:50] atymic commented on #396
Sorry about this, we'll get it tagged ASAP!

[2020-04-18 00:50] atymic commented on #394
Thanks for the bug report. We'll look into this shortly!

[2020-04-18 15:12] DubStepMad opened #399 "Call to undefined function SocialiteProviders\Twitch\array_get()"
Laravel: 6.18.7
PHP: 7.4.4
OS: ‪Ubuntu 18.04.4

`Call to undefined function SocialiteProviders\Twitch\array_get() {"userId":2,"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to undefined function SocialiteProviders\\Twitch\\array_get() at /var/www/vhosts/*****.com/httpdocs/vendor/socialiteproviders/twitch/Provider.php:71)`

[2020-04-19 18:47] codegeek1001 commented on #399
The library is not compatible with Laravel 6 or higher. I also found this out recently. Right now, you will have to downgrade to Laravel  5.x if you want to use the released version of this library.

[2020-04-21 13:37] #399 closed

[2020-04-21 17:19] github-grabaz opened #400 "Is there a package for Zoho?"
Following the documentation to install the provider for zoho by running:

`composer require socialiteproviders/zoho`

Leads to the error:

Will there be a package available soon?
Is there documentation to use the code without a package?

[2020-04-26 22:25] atymic commented on #400
I've tagged version `1.0.0`, but i'm waiting on access to packagist to add it. In the meantime, you can load it directly by adding the repo to your composer.json:
https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository

[2020-04-26 22:27] atymic commented on #396
Sorry for the delay, it's been tagged as `3.1`
https://packagist.org/packages/socialiteproviders/salesforce#v3.1.0

Thanks for your patience!

[2020-04-26 22:27] #396 closed

[2020-04-26 22:28] atymic commented on #286
@K1lleR8 can you send your raw config? :)

[2020-04-26 22:31] atymic commented on #390
@Jimbolino if this is correct, we should PR a deperecation and remove form the docs.

[2020-04-26 22:33] atymic commented on #368
It's tagged now as `1.1.0`
Apologies for the massive delay, I've joined the team and will be responsive in the future so feel free to reach out :).

[2020-04-26 22:33] #368 closed

[2020-04-26 22:39] atymic opened #401 "Fix or remove scrutinizer from the providers repo"
Either fix it or remove it.

[2020-04-26 22:40] atymic commented on #243
I'll look into this and close it out if we can't find a way.

[2020-04-26 22:41] atymic commented on #384
Tagged, see #368 sorry!

[2020-04-26 22:41] #384 closed

[2020-04-26 22:43] atymic commented on #239
Sorry for the delay, a PR would be welcome to correct this issue :)

[2020-04-26 22:43] atymic commented on #220
Sounds like this is solved. If anyone is still having issues, feel free to comment and I can reopen.

[2020-04-26 22:43] #220 closed

[2020-04-26 23:06] Jimbolino opened #402 "Deprecation Notice: Class SocialiteProviders does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0."
There are quite a few classes that are in a wrong file / folder, and are not compatible with the PSR-4 standard.

Composer 2.0 will prevent these classes from loading, so a Deprecation Notice is thrown right now when you create an authoritative autoloader with: `composer dump -a`

Most are easy fixes, for example renaming the folder or using proper capitalization on the FileName.

[code]

[2020-04-27 11:12] atymic commented on #246
Closed in #266

[2020-04-27 11:12] #246 closed

[2020-04-27 11:13] atymic commented on #244
Closed in #234

[2020-04-27 11:13] #244 closed

[2020-04-27 11:14] #240 closed

[2020-04-27 11:15] atymic commented on #228
New version was tagged with the lastest changes.

[2020-04-27 11:15] #228 closed

[2020-04-27 11:16] #190 closed

[2020-04-28 21:27] #391 closed

[2020-04-29 13:29] vonec opened #406 "Create Sign In With Apple Socialite Provider"
can you add Sign In With Apple Socialite Provider?

[2020-04-29 13:32] Ahilmurugesan commented on #406
Hi,
We added a pull request, awaiting approval.

https://github.com/SocialiteProviders/Providers/pull/405

[2020-04-29 13:35] Ahilmurugesan commented on #316
Hi,
We added a new pull request, awaiting approval. The previous pull request did not get approved. Hopefully, this one gets approved.

https://github.com/SocialiteProviders/Providers/pull/405

[2020-04-30 23:00] atymic opened #409 "Providers missing from packagist"
Some providers need to be added to packagist, but I don't yet have access. This issue is to keep track of the ones that need to be added still.

- [x] https://github.com/SocialiteProviders/Keycloak
- [x] https://github.com/SocialiteProviders/Zoho

cc @m1guelpf

[2020-04-30 23:01] #402 closed

[2020-04-30 23:11] atymic commented on #400
See #409

[2020-04-30 23:11] #400 closed

[2020-05-03 09:29] atymic commented on #400
Tagged
https://github.com/SocialiteProviders/Zoho

[2020-05-03 09:29] #409 closed

[2020-05-03 09:44] atymic commented on #408
@MCKLtech are you still having this issue?

[2020-05-03 09:46] atymic commented on #381
Closing due to inactivity. If this is an issue, ping me and i'll reopen.

[2020-05-03 09:51] atymic commented on #207
@claudsonm feel free to PR missing docs :)

[2020-05-03 10:02] atymic commented on #237
Are you still having issues?

[2020-05-04 20:59] IvanovPavel opened #411 "Twitch provider change rules"
Since 1 May 2020 Twitch.tv changed a rule to request to API endpoints `https://api.twitch.tv/helix/users`.
It need to send both: **Client ID and OAuth token.**

So now, this provider _does not work_!
Fix it please.

[2020-05-05 05:13] lostlian opened #412 "Documentation Link looks to be broken"
The Documentation Link looks to be broken

[2020-05-05 14:47] #412 closed

[2020-05-06 04:30] atymic commented on #411
Please make a PR :)

[2020-05-06 22:51] #411 closed

[2020-05-06 22:55] #355 closed

[2020-05-06 22:56] atymic commented on #170
Released in Instagram Basic provider now :)

[2020-05-06 22:56] #170 closed

[2020-05-06 22:57] atymic commented on #401
Has been removed

[2020-05-06 22:57] #401 closed

[2020-05-06 22:57] #381 closed

[2020-05-06 23:00] atymic commented on #411
Tagged :)
https://github.com/SocialiteProviders/Twitch/tree/v5.2.0

[2020-05-07 00:03] dwightwatson commented on #196
Rather than close the issue I'd probably argue that the Goodreads provider be removed if it isn't working.

[2020-05-07 00:08] atymic commented on #196
I think we should fix it, will look into this soon. PRs welcome :)

[2020-05-07 00:10] dwightwatson commented on #196
Granted I looked into this over two years ago - but I got absolutely nowhere. The Goodreads documentation was poor, and I found other people seemed to having the same issue with their API  generally (not just with the Socialite provider) so I'm inclined to believe it's more of an issue on their end that they're not interested in resolving.

[2020-05-07 00:22] atymic commented on #196
I'll see if we can hack around it, seems like a useful provider to have :)

[2020-05-07 00:22] atymic commented on #196
Otherwise, I agree, we should deprecate the provider.

[2020-05-07 00:41] #320 closed

[2020-05-07 00:48] atymic commented on #243
Closing, not provided by the provider. Consider using the full youtube scope if you need this info.

[2020-05-07 00:48] #243 closed

[2020-05-08 17:33] NurdTurd commented on #383
Please someone get on this!

[2020-05-09 00:48] atymic commented on #383
I'm not sure why we even need that library. I will have a look and figure out if we can drop it.

[2020-05-09 00:54] atymic commented on #383
Oh, it seems the docs I was reading for oauth 2 are only for game devs. Looks like we do need to use openid 🤔

[2020-05-09 01:19] atymic commented on #383
Draft PR open here:
https://github.com/SocialiteProviders/Providers/pull/415

Would love it if people could test. Otherwise I'll test when I have time :)

[2020-05-10 14:15] ashgibson opened #417 "Authentication_MissingOrMalformed"
I have implemented the msal library on my front end application which seems to successfully logging the user in and returning a token. I then want to pass this token to my backend laravel api and use the socialite function.

`return Socialite::driver('graph')->userFromToken(request('token'));`

but I am receiving the following error

[code]

I believe I have setup the correct GRAPH_KEY, GRAPH_SECR

[2020-05-11 09:59] hugeps opened #418 "Azure B2C support"
Guys,

Which plugin will work with Azure B2C? Looking at providers here all seem to use the URLs from Azure AD, but don't seem to work with AD B2C...

Anyone had a look at this before?

[2020-05-12 04:20] zabavnikov opened #419 "Yandex provider has stopped working"
Failed to determine requested access list (invalid_scope)

![image](https://user-images.githubusercontent.com/8766240/81638156-6adf6880-9442-11ea-99c1-9cf61bc10ce5.png)

If remove &scope= from url, then authorization passes

[2020-05-12 14:47] zabavnikov commented on #419
It works now. Apparently the error was on the side of Yandex.

[2020-05-12 14:47] #419 closed

[2020-05-14 00:59] #323 closed

[2020-05-14 00:59] #322 closed

[2020-05-14 00:59] #324 closed

[2020-05-14 00:59] #326 closed

[2020-05-18 07:35] juliomotol commented on #107
I've been scratching my head on changing the redirect url for the twitter provider. I've found a work around for this. You can use `config(array $new_values)` to change the config values under `services.twitter.redirect` (or use `services.twitter.client_id` and `services.twitter.client_secret`).

[code]

[2020-05-18 22:40] #196 closed

[2020-05-18 22:55] dwightwatson commented on #196
Wow, good stuff! 🔥

[2020-05-19 01:47] juliomotol opened #481 "Get certain fields from LinkedIn's r_liteprofile"
# Issue / Motivation:

The `User` class for LinkedIn only provides the full name while Laravel/Socialite provides `first_name` and `last_name`. See [LinkedIn Provider's `getUserByToken()` method](https://github.com/SocialiteProviders/LinkedIn/blob/cb2e82e39fcece8200188c539d5cc05e8d39a0fb/Provider.php#L130-L136)

## Expected behavior:

I should be able to get only the first_name or last_name.

## A

[2020-05-21 20:56] ercanilbars opened #424 "Call to undefined function SocialiteProviders\\Yandex\\array_get()"
have problems callback this is not supported?

[2020-05-22 00:32] atymic commented on #424
Looks like the latest changes were not tagged. I've tagged 3.1.0, which includes the fixes :)

https://github.com/SocialiteProviders/Yandex/releases/tag/v3.1.0

[2020-05-22 00:32] #424 closed

[2020-05-22 10:57] ercanilbars opened #482 "Argument 1 passed to League\OAuth1\Client\Server\Server::getTokenCredentials() must be an instance of League\OAuth1\Client\Credentials\TemporaryCredentials, null given"
have problems twitter callback

[2020-05-22 15:33] danswiser opened #425 "Microsoft provider avatar"
Is it possible to retrieve the user avatar from the `microsoft` provider?

[2020-05-22 18:15] StephanWithPH commented on #280
I have this same problem too,

My social login file:
`class SocialLogin extends Controller
{

    public function redirect($service)
    {
        return Socialite::driver($service)->redirect();
    }

    public function callback($service)
    {
        if ($service === "discord"){
            dd(Socialite::driver('discord')->user());
        }
        else {
            $user = Socialite::driver

[2020-05-23 00:59] atymic commented on #425
Can you clarify which microsoft provider this is for (we have a few)?
PRs welcome :)

[2020-05-23 01:42] danswiser commented on #425
Just the regular `microsoft` provider. It looks like that one replaces `graph`, `live` and `azure` correct?

[2020-05-23 17:16] ercanilbars opened #426 "Socialite Twitter have problem with api [ JUST QUESTION]"
Hi
i also try but auth_temp session its problem for api and i changed session in AbstractProvider

[code]

And
Token
[code]
Do you think there will be any problems?

[2020-05-24 09:01] #406 closed

[2020-05-26 14:54] danswiser commented on #425
@atymic based on the help wanted label I assume this isn't currently possible. I started looking at making a PR to get the avatar URL but it looks like the microsoft api returns the binary data of the image. Do any other providers return the binary data? The only ones I found just returned the avatar URL.

https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0#using-the-bi

[2020-05-27 20:12] danswiser commented on #425
PR #429

[2020-05-30 23:07] ckissi opened #430 "Provider Request » Netlify"
The provider for Netlify would be perfect.

Can anybody create one?

[2020-05-31 00:56] atymic commented on #430
Thanks for the suggestion. You could have a go at a PR, see our docs on the website :)

[2020-05-31 01:38] #383 closed

[2020-05-31 01:44] atymic commented on #383
Tagged as 3.0 :)
https://github.com/SocialiteProviders/Steam/releases/tag/v3.0.0

[2020-06-03 18:00] #425 closed

[2020-06-09 12:57] robin7331 commented on #394
Any progress on this ?

[2020-06-09 14:52] fauxvo commented on #394
I did some experimenting and it also seems to be related to users who have not create a YouTube channel.

This wouldn't throw an error anymore after they created a channel.

It seems a bit clunky to find out the user info only via the channel information.  Maybe something more specific to Google would be better?  It would also be great to get actually get the user's email address since that's not

[2020-06-10 00:04] atymic commented on #394
@fauxvo

Could you post the raw error that you get?
I think the issue is definatly due to the user not having a channel, but what's the expected behaviour in this case? I can make it return and empty user object, but is this ideal?

[2020-06-10 03:05] fauxvo commented on #394
[code]

Basically, the `items` index is undefined and causing a 500 error.

I don't really know what the best solution is to be honest.  I'm not sure if there's another endpoint (probably a Google one rather than a Youtube one) that would return the user information - ie. access tokens, username, email, etc.  In my case, I'm using the YouTube login to be able to get the correct permissions to crea

[2020-06-24 14:42] chrisforrence opened #440 "Tag/publish Procore provider"
Could the Procore provider (https://github.com/socialiteproviders/procore) be tagged and published to Packagist?

[2020-06-24 20:59] dangerdan opened #441 "Error using Apple Sign In userFromToken"
https://github.com/SocialiteProviders/Providers/blob/8f0711e3ff301f3b2ee0867317d00de7e3d5e1a6/src/Apple/Provider.php#L200

This implementation seems incorrect. The code suggests that a token is passed to this method, but the token is transformed into a user in the user() method:

[code]

Shouldn't this method simply read from the array? mapUserToObject(array $user). When I attempt to use it I get

[2020-06-24 21:00] #441 closed

[2020-06-24 22:29] atymic commented on #441
@dangerdan are you still having an issue?

[2020-06-24 22:31] atymic commented on #440
Sorry about that!
https://packagist.org/packages/socialiteproviders/procore

[2020-06-24 22:31] #440 closed

[2020-06-26 01:07] price2b commented on #308
"Will try to get this done today and push to packagist, sorry for the inconveniences!"

thank you!

[2020-06-28 14:42] CockersGaming opened #443 "Failed to validate OpenID login: unknown error"
Hello.  I am trying to add socialite steam to be able to login to my dashboard with.

I get this error:

Here is my steam controller:

[code]

My Event Listener Provider:

[code]

My app.php:

[code]

The button to login with steam:

[code]

web.php:

[code]

Help Much Appreciated,

Regards,
James

[2020-06-28 22:58] atymic commented on #443
cc @ilumos @Metrakit who are using the library.

Any ideas?

[2020-06-29 06:32] ilumos commented on #443
Can you paste the steam URL that you are redirected to?

Also the URL that Steam redirects you to after login?

[2020-06-29 15:02] rivor opened #444 "nvm"
When i call
`Socialite::with('twitch')->redirect();`
It redirects me to a twitch login page but without client id in the url so it throws this error out
`
{
"status": 400,
"message": "missing client id"
}
`

[2020-06-29 15:05] #444 closed

[2020-06-30 11:57] CockersGaming commented on #443
The redirect link is https://127.0.0.1:8000/login/steam/callback

When I press the login with steam button it takes me to here: https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=checkid_setup&openid.return_to=http%3A%2F%2F127.0.0.1%3A8000%2Flogin%2Fsteam%2Fcallback&openid.realm=http%3A%2F%2F127.0.0.1%3A8000&openid.identity=http%3A%2F%2Fspecs.o

[2020-06-30 12:17] CockersGaming commented on #443
according to https://socialiteproviders.netlify.app/providers/steam.html u have to use a cappital (Steam) however i then get this `Driver [Steam] not supported. `

but when I change it to a lowercase (steam) it will go to

[2020-06-30 12:17] #443 closed

[2020-06-30 12:17] CockersGaming commented on #443
wron button xD.

It is now working.

[2020-07-01 04:27] RavenHunt commented on #107
Did anyone found solutions for this bug? I face the same issues here.

[2020-07-02 03:20] DSpeichert commented on #237
Apparently the correct driver name is `paypal` (lowercase), not `PayPal` as documentation claims.

[2020-07-02 22:58] #398 closed

[2020-07-02 22:58] #286 closed

[2020-07-03 00:59] #390 closed

[2020-07-03 00:59] #393 closed

[2020-07-03 00:59] #338 closed

[2020-07-03 00:59] #239 closed

[2020-07-03 13:59] #276 closed

[2020-07-03 13:59] #259 closed

[2020-07-07 08:51] adwiv opened #448 "Missing email and Incomplete name in zoho provider"
Zoho provider has email field missing.

Also, name field uses only first name instead of full name.

[2020-07-07 12:00] #448 closed

[2020-07-09 10:39] #207 closed

[2020-07-12 23:46] #408 closed

[2020-07-17 21:42] homeoftheunits opened #465 "Curl Error"
Hi,

i make my own OAuth Service with Passport and make an Login request to that Provider:

[code]

This works, my oauth ask if i want to give permission to access my account, everything is fine. When i press accept, and passport use the correct callback URL, and the route calls the function with this line:

[code]

I get an CURL Error:
`cURL error 3: <url> malformed (see https://curl.haxx.se/libc

[2020-07-18 09:27] #465 closed

[2020-07-18 09:28] homeoftheunits commented on #465
solved, i save the host in the env and in the service.php

[2020-07-19 12:25] homeoftheunits opened #466 "Passport Provider"
Hi there,

i use the Passport Provider in my Application. So, i have my own oauth2 Service. In this oauth2 Service are the User Informations collected. Login works fine, and everything do what it should. But i have two Problems.

1. Where should i collect the User Informations from the OAuth Service
`$user = Socialite::driver('laravelpassport')->user();`

This works only in the Controller method,

[2020-07-19 21:30] andy3471 opened #467 "Steam provider doesn't play nicely behind a reverse proxy"
I tried updating my laravel socialite steam provider to 3.0, it worked with HTTPS, but when using a reverse proxy (reverse proxy is listening on HTTPS and directing to the site on HTTP), I was getting an error that the realm does not match the return to.

On looking at the URL, that it's directing to on steam:
https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2

[2020-07-20 03:17] #417 closed

[2020-07-21 12:52] bytestream commented on #467
You can overwrite the realm in the config as well

[2020-07-22 21:35] StephanWithPH opened #470 "No streamelements provider"
Hi there!

Can someone maybe create a streamelements socialiteprovider? This api works well in combination with the Twitch api!

[2020-07-23 07:07] atymic commented on #470
Feel free to PR :)

[2020-07-23 20:38] laravelian opened #471 "Harvest driver not compatible with Laravel 7"
It looks like there is an issue with Harvest driver relying on socialiteproviders/manager 3.3, but 3.5 is required to work with laravel 7.  I get composer conflict errors

[2020-07-25 17:22] svpernova09 opened #478 "Attemping to create new Provider, Target Class does not exist error"
I'm trying to follow along w/ https://socialiteproviders.netlify.app/providers/zendesk.html, but instead of using ZenDesk, I've created my own provider "Lavishsoft" and modeled it exactly like the Zendesk provider. I've setup a private repo for the provider, added the repo to `composer.json` as:
[code]
and
[code]

I have my  event service provider `listen` property set up as:
[code]

My `Lavishsof

[2020-07-25 17:47] #478 closed

[2020-07-25 17:47] svpernova09 commented on #478
I'm bad at typing. The issue was in my provider, I had "SocialiteProviders\\LavishSoft\\": "src/" instead of "SocialiteProviders\\Lavishsoft\\": "src/" That capital S >.<

[2020-07-26 05:14] atymic commented on #478
No worries :)

[2020-07-27 23:43] atymic commented on #471
Looks like the constraint is ` ^3.3` meaning `3.5` should be fine.
Can you post the error message?

[2020-07-27 23:43] atymic commented on #467
As @bytestream said, you can overwrite the realm config :)

[2020-07-27 23:43] #467 closed

[2020-07-29 02:26] atymic opened #480 "Release new version of all providers"
Release new major version dropping support for < `7.2`

- [x] Release Provider [23andme](https://github.com/SocialiteProviders/23andme/releases)
- [x] Release Provider [37Signals](https://github.com/SocialiteProviders/37Signals/releases)
- [x] Release Provider [500px](https://github.com/SocialiteProviders/500px/releases)
- [ ] Release Provider [Acclaim](https://github.com/SocialiteProviders/Acclai

[2020-07-29 02:52] atymic commented on #483
Is this still an issue?

[2020-07-30 05:55] Justinborzi opened #486 "Driver X not supported."
Hi, I was wondering when using the packages(after getting all the composer packages and setting up the event listener, services file etc... in Laravel 7x, It doesnt want to register any of them exist yet they are loaded as my vendor and what not. Not really sure whats going on here. Any help would be appreciated 😄

``App\Providers\EventServiceProvider.php``
[code]

and my ``config\services.php``
[

[2020-07-31 09:48] atymic commented on #483
Opskins no longer exists it seems.

[2020-07-31 09:48] #483 closed

[2020-07-31 09:51] atymic opened #488 "Audit and deprecate broken/dead providers"
Archive & deprecate dead providers.

Pending actions

Abandon on packagist:

- [x] https://packagist.org/packages/socialiteproviders/everyplay
- [x] https://packagist.org/packages/socialiteproviders/mixer
- [x] https://packagist.org/packages/socialiteproviders/gamewisp
- [x] https://packagist.org/packages/socialiteproviders/dailymile
- [x] https://packagist.org/packages/socialiteproviders/rdio
- [

[2020-07-31 10:12] atymic opened #493 "Hitbox is now Smashcast"
Either remove the old provider, or update it to the new provider.
See #488

[2020-07-31 10:13] lucasmichot commented on #488
Also abandon https://packagist.org/packages/socialiteproviders/rdio

[2020-08-01 00:55] atymic commented on #471
cc @laravelian

[2020-08-01 07:38] #493 closed

[2020-08-01 07:43] atymic commented on #488
Hey @m1guelpf

Could you mark the above packages as abandoned on packagist please?
I don't have the perms to do so.

[2020-08-01 07:46] atymic opened #501 "Docs overhaul and audit"
- [x] Move docs alongside code for easy review + docs on subtree split repos & packagist
- [x] Refactor website to pull in docs from all our repos automatically

TBC?

[2020-08-01 13:00] m1guelpf commented on #488
@atymic Done!

[2020-08-02 01:39] atymic commented on #488
Thanks a ton @m1guelpf :)

[2020-08-02 01:39] #488 closed

[2020-08-02 04:26] atymic commented on #506
Feel free to PR this to the new docs (in each provider's src folder)

[2020-08-02 04:27] atymic commented on #501
🎉

New website live at https://socialiteproviders.com/ with new docs

[2020-08-02 04:27] #501 closed

[2020-08-02 04:28] atymic commented on #486
Can you post your controller code please?

[2020-08-02 04:28] atymic commented on #482
Going to close this due to inactivity, ping me if this is still an issue.

[2020-08-02 04:28] #482 closed

[2020-08-02 04:29] atymic commented on #480
@lucasmichot is there any other changes we need to do before this apart from #484
Would be good to get them all lumped into a single 4.0.0 release

[2020-08-02 04:30] #426 closed

[2020-08-02 07:49] saundefined commented on #506
@atymic, the docgen.php will not overwrite these changes?
Or is it just for the initial doc gen?

[2020-08-02 07:50] atymic commented on #506
It's just for the first generation, it doesn't overwrite once they exist :)

[2020-08-03 15:59] lucasmichot commented on #480
The major remaining problem is that many providers only support Guzzle 6, and not 7.
They would typically miss this check:

`$postKey = (version_compare(ClientInterface::VERSION, '6') === 1) ? 'form_params' : 'body';`

This needs to be fixed before the `4.0.0` release

[2020-08-03 23:13] atymic commented on #480
Ahh, good catch. We should definitely get that fixed as well.
I was thinking about adding more types through the providers & the manager as well.

[2020-08-03 23:14] atymic commented on #471
Closing due to inactivity.

[2020-08-03 23:14] #471 closed

[2020-08-04 07:53] lucasmichot commented on #480
Do you mean types, like method and argument typing? If so, I am absolutely 👍

[2020-08-04 20:04] Justinborzi commented on #486
[code]

[2020-08-05 00:46] atymic commented on #486
I assume for provider you are passing the lowercase version of the name?

[2020-08-05 02:30] atymic commented on #488
Also this provider if you have chance @m1guelpf
https://packagist.org/packages/socialiteproviders/moikrug

[2020-08-05 02:32] atymic opened #512 "Bot to auto close PRs in subtree split repos."
People PR fixes but they need to go here to the monorepo.
Bot or script to auto close PRs with a link here.

[2020-08-05 10:01] mgarcia96 commented on #223
Same here!

[2020-08-05 10:47] #506 closed

[2020-08-06 01:48] Justinborzi commented on #486
correct, I am passing it based on the uri

[2020-08-07 20:13] matro-skin opened #515 "Undefined index: email with mailru provider"
Callback route return `Undefined index: email` error:
https://flareapp.io/share/W7z0vVmw#F49

Laravel version 7.23.0
PHP version 7.3.17

[2020-08-08 23:25] Justinborzi commented on #486
Sorry, @atymic Just wanted to see if you still had any ideas 😅

[2020-08-12 09:44] #397 closed

[2020-08-12 16:19] Max13 commented on #397
@ZeProf2Code I would love to have your feedback on this please

[2020-08-15 20:36] robiiinos commented on #470
#524

[2020-08-15 21:36] #470 closed

[2020-08-20 14:39] shehi commented on #394
I don't even think this Provider should exist in first place. Google has one central OAuth-2 implementation and that Provider is already covered. Why bother with this superficial package, if in a nutshell it's just Google OAuth-2?!

[2020-08-20 14:52] shehi commented on #466
When you do `$user = Socialite::driver('laravelpassport')->user();` in your Login/Oauth2 controller whatever, you should be persisting token, refresh_token and their respective TTL info in your User storage. And later, in some other controller, using those tokens, you can query the target API on behalf of these token-owners. I have never used Passport's `/tokens` endpoint, but something tells me y

[2020-08-23 06:21] dreamgeekcoder opened #527 "Steam Provider has errors due to miss match config variables"
The steam provider doesn't work correctly and has multiple errors. I eventually fixed them, but I don't exactly know how to do a fix request because there are a few including the documentation needs updating... and i'm new.. BUT anyway..

The main issues are..

1) Steam only uses SECRET CLIENT .. there is no client ID. (https://steamcommunity.com/dev/apikey)
2) The code is currently looking for ap

[2020-08-24 17:33] dreamgeekcoder commented on #527
I think i figure out how to do the pull request... :) First time

[2020-08-24 23:46] atymic commented on #527
We moved the docs over and some of the edited bits were lost. Thanks, for the PR. I think if you configured the `api_key` it should work. I think just changing the docs makes sense here, sorry about the time spent debugging!

[2020-08-26 05:08] ionutantohi opened #529 "Apple provider - state field"
Hi there

Can you please describe why the state field is overwritten in the `getCodeFields` and why you didn't used the value which is sent as parameter?

Because of that, the state which is saved in session is different than the one sent to apple.

https://github.com/SocialiteProviders/Providers/blob/master/src/Apple/Provider.php#L75

Thanks!

[2020-08-26 06:31] atymic commented on #529
cc @Ahilmurugesan

[2020-08-26 12:34] arun07as opened #530 "Apple Provider getting `OutOfBoundsException: Requested claim is not configured` when using userFromToken in 3.0.2"
Hi

In the [apple provider](https://github.com/SocialiteProviders/Apple), in [yesterdays commit](https://github.com/SocialiteProviders/Apple/commit/fa7ac7e23390d7d81e647b09ec50f79a8de6b9ef) version v3.0.2, the `userFromToken` method keeps giving me the following exception

[code]

This was working fine on version v3.0.1. I tried downgrading to version v3.0.1 and it works fine now.

After looking i

[2020-08-27 02:59] atymic commented on #530
Could you please create a PR? Thanks!

[2020-08-27 02:59] atymic commented on #530
cc @pyrou

[2020-08-28 18:24] ggolda opened #533 "Return scopes for google provider"
Google OAuth api returns a string that contains a list of scopes that user gave access to. Is there a way to add them to google socialite provider?

https://socialiteproviders.com/Google-Plus/

[2020-08-28 20:05] pyrou commented on #530
Indeed, kid is in headers :(
Btw, I didn't found getHeader method definition in `Lcobucci\JWT\Token`.

For reference here is the getClaim() implementation : https://github.com/lcobucci/jwt/blob/1429700c717d9fb792ec6a382ec890d30934b340/src/Token.php#L108

Add I'll test it with ->getHeaders()['kid']

[2020-08-29 01:14] atymic commented on #530
Thanks @pyrou

[2020-08-29 02:37] Ahilmurugesan commented on #529
@ionutantohi
From our understanding, Sign In With Apple is stateless based on the nonce. To support a stateful authentication state is passed as part of the nonce and state verification is available as a session variable [state_verify](https://github.com/SocialiteProviders/Providers/blob/9ae63dd02646204c682c282ea79799daf7c461e7/src/Apple/Provider.php#L173). This is a workaround to support stateful

[2020-08-29 23:44] #530 closed

[2020-08-31 08:21] ionutantohi commented on #529
Thanks @Ahilmurugesan for coming back to me.

I am not saying that is not working, it just behave differently than the official socialite packages (facebook, google). And I don't understand why the state (which is a random string) is encoded in `md5`.

### Behaviour using official package for Facebook/Google
[code]

### Behaviour using your package for Apple
[code]

In my particular case, I need t

[2020-09-01 03:27] #308 closed

[2020-09-03 15:37] priami93 opened #536 "Google Provider - Missing redirect_uri param"
I have an issue with the authentication using Google provider.

`$url = Socialite::driver('google')->stateless()->redirect()->getTargetUrl();`

return an url without `redirect_uri` params. So when try to go on this url i have this error

![image](https://user-images.githubusercontent.com/56170549/92136274-1e160800-ee0c-11ea-9866-8e12bbe9a526.png)

[2020-09-03 15:53] #536 closed

[2020-09-06 22:44] Xoshbin opened #537 "apple redirect uri is sending back a http post request?!!"
Hi, I just started using this package + the apple provider, to implement sign in with apple button on my website, but I'm receiving a 419 error when apple is redirecting back to my website, because apple redirect uri is a http POST request as [described here](https://developer.apple.com/documentation/sign_in_with_apple/sign_in_with_apple_js/configuring_your_webpage_for_sign_in_with_apple#3331292:~

[2020-09-07 05:38] atymic commented on #537
See https://laravel.com/docs/7.x/csrf#csrf-excluding-uris\

Should also add to the docs 👍
Feel free to PR

[2020-09-07 11:08] bobmulder opened #538 "SAML provider"
Hi there!

I was wondering if there's any SAML provider available.

If not I'd like to investigate the possibilities to create this provider myself...
Example from Passport.js: http://www.passportjs.org/packages/passport-saml/

Regards,

Bob

[2020-09-10 12:07] dekts opened #540 "InvalidArgumentException Invalid request. Missing OAuth verifier."
I'm having the issue with twitter login using socialite in laravel and it's throw the error in the server.

The error is:
[code]

When using same code it's work fine with localhost but after deploy the code in server this error is cause the issue.

[2020-09-11 08:48] vonec commented on #537
Apples implementation is a little different from the rest of the social login providers, the socialite provider documentation was changed recently as part of normalizing all socialite providers. we need to rework on Socialite Apple documentation.

[2020-09-15 11:21] Azghour-Saad commented on #43
Facebook, LinkedIn, Google, GitHub, GitLab, Bitbucket and many others support OAuth2 for user-based authentication. but Twitter still using Oauth1 only .

[code]

Running into this issue **:**

[code]

I want to be redirected into the callback **:**

`https://mySite.com/api/login/twitter/callback`

 Any Help !!

[2020-09-18 10:03] #537 closed

[2020-09-21 17:40] amcsi opened #543 "How to logout in Youtube provider?"
I'm stuck in a loop where I login with Google for Youtube, but with a Google account that doesn't have a Youtube channel.

Thus in the callback when I do `Socialite::driver('youtube')->user()`, because I get an ErrorException thrown for this line in the library code: `return json_decode($response->getBody()->getContents(), true)['items'][0];`.

I thought that what I could do was catch that excepti

[2020-09-22 14:12] Jimbolino commented on #409
https://github.com/SocialiteProviders/SURFconext
is also missing

[2020-09-22 21:02] atymic commented on #409
Submitted 👍
https://packagist.org/packages/socialiteproviders/surfconext

[2020-09-24 15:03] abejenaru opened #544 "Question : is there interest in supporting CAS (Central Authentication Service) protocol & providers ?"
CAS is a different protocol than OAuth, so new adapters are needed.
Just an inquiry, thanks!

[2020-09-24 23:52] atymic commented on #544
Could you link to the docs? We already have some non openid providers like steam and apple.

[2020-09-25 16:43] abejenaru commented on #544
Hi, it's mainly used in education and enterprise environments, so I couldn't find public servers for testing, only mock-up server implementations.

Here is the protocol documentation: https://apereo.github.io/cas/6.2.x/protocol/CAS-Protocol.html
There is also an official PHP client: https://github.com/apereo/phpCAS
Some mock-up implementation (which I did not use): https://github.com/veo-labs/cas-

[2020-09-26 00:45] atymic commented on #544
Ahh. This repo is more focused on providing drivers for public services.
Maybe not the best fit in that case?

[2020-09-29 14:57] pacoorozco opened #545 "[QUESTION] Using Socialite to auth against adAS (prise) service"
Hi!
I know that this repo is focused in giving providers for public services, but my university's SSO is an [adAS service](http://www.adas-sso.com/en/) from Prise. They offer SSO using OAuth2, so I'd like to create a provider that allows me use this service to auth my Laravel app.

I've created a provider for this adAS service, basically the one that the [generator](https://github.com/SocialitePro

[2020-09-30 01:10] atymic commented on #545
Since you don't actually need to share it, you can just create the classes using the generator in your application.
Then, follow the steps for any provider but instead reference your local socialite provider classes.

[2020-09-30 01:10] #545 closed

[2020-10-08 05:03] #481 closed

[2020-10-10 23:15] kidh0 opened #548 "Untappd provider not working using the documentation step-by-step"
Hello there.
I recently upgrade to laravel 8 and tried to get my application working with the untappd provider with no success.
My composer.json looks like the follow:
` "require": {
        "php": "^7.2.5",
        "doctrine/dbal": "^2.9",
        "fideloper/proxy": "^4.2",
        "fruitcake/laravel-cors": "^2.0",
        "guzzlehttp/guzzle": "^7.0.1",
        "laravel/framework": "^8.0",

[2020-10-10 23:23] atymic commented on #548
I have just tagged a new version, could you give that a go?
https://github.com/SocialiteProviders/Untappd/releases/tag/v3.0.0

[2020-10-10 23:27] atymic commented on #515
Hey @matro-skin

Can you post the response/structure of the returned data? I can't find the docs and can't read russian.

[2020-10-10 23:33] kidh0 commented on #548
Fixing the version to `^3.0` worked like charm. But I think that if you just do a `composer require socialiteproviders/untappd` it will install the `1.0.0`. I done it like 15 minutes ago :/

[2020-10-10 23:56] #512 closed

[2020-10-11 00:00] atymic commented on #548
It should pick up the v3.0.0 for new installs (unless there's other issue forcing v1)

[2020-10-11 00:00] #548 closed

[2020-10-11 00:04] atymic commented on #540
Can you post the full code of your controller?

[2020-10-11 00:04] atymic commented on #533
Sure, feel free to PR :)

[2020-10-11 08:09] YosraHamza opened #551 "Apple provider - GuzzleHttp instead of file_get_contents"
Hello,
Thanks a lot for the package.

Is it possible to replace the call made with **file_get_contents** for the apple authentication keys url with **GuzzleHttp** ? as the first requires enabling allow_url_fopen from the server configuration

[2020-10-11 09:50] #551 closed

[2020-10-11 09:51] atymic commented on #408
Tagged in https://github.com/SocialiteProviders/HubSpot/releases/tag/v3.0.0

[2020-10-12 12:14] luceos opened #553 "Keycloak provider has incorrect delimiter"
Not sure this is an issue with Keycloak v11+, but the delimiter has become a space, not a comma.

This breaks the whole flow of authentication, because keycloak will throw an error that it received a request with unknown/invalid scopes.

[2020-10-12 21:15] #553 closed

[2020-10-12 22:32] atymic commented on #553
Released in v3.0.2 👍

[2020-10-15 01:48] #486 closed

[2020-10-17 01:04] atymic commented on #237
Docs are fixed now 👍

[2020-10-17 01:04] #237 closed

[2020-10-17 01:06] atymic commented on #280
It's definitely lower case `discord`.

I'm going to close this now. If you're still having issues please ping me :)

[2020-10-17 01:06] #280 closed

[2020-10-17 01:08] atymic commented on #430
We have a netlify provider :)
https://socialiteproviders.com/Netlify/#netlify

[2020-10-17 01:08] #430 closed

[2020-10-17 01:08] #527 closed

[2020-10-17 02:19] Altair4713 opened #555 "A bug fix is needed for Telegram provider"
The Telegram provider has a bug that prevents users who do not have a last name from logging in. If it is not there, then the script crashes with an error. I forked the repository for myself, but I would like the bug to be fixed in the official version. Is it possible?

Here's the fix https://github.com/Altair4713/Telegram/commit/8755269312d91534de6058323d6fdebf0faf97f8#diff-3c2c7bc87589e022ac1cda

[2020-10-17 02:52] atymic commented on #555
Yep, just PR it against the correct file in this repo:

https://github.com/SocialiteProviders/Providers/blob/master/src/Telegram/Provider.php

[code]

[2020-10-17 10:08] robiiinos commented on #533
Hello, can you provide us the docs where you think they return the list of scopes?

Currently, Google is returning https://developers.google.com/identity/protocols/oauth2/openid-connect#an-id-tokens-payload and I do not see any list of scopes.

[2020-10-18 22:04] dillingham opened #559 "Website is hacked / SSL invalid"

[2020-10-18 22:05] #559 closed

[2020-10-18 23:04] atymic commented on #559
Seems fine to me?

![image](https://user-images.githubusercontent.com/50683531/96388119-83725c80-11f2-11eb-8cbc-b8044b143121.png)

[2020-10-19 00:10] #555 closed

[2020-10-19 01:11] dillingham commented on #559
@atymic i got an ssl chrome error and my isp said it detected it was insecure but after I proceeded and checked the cert seems fine 🤷‍♂️ so I closed this

[2020-10-21 10:11] ImJustToNy opened #561 "Changes to Facebook API"
![image](https://user-images.githubusercontent.com/5730766/96706197-8efe8880-1396-11eb-87bd-b908bf0b5569.png)

[2020-10-21 10:19] ImJustToNy commented on #561
https://github.com/laravel/socialite/issues/487#issuecomment-713064159

[2020-10-21 10:19] #561 closed

[2020-10-21 18:43] michaloravec opened #562 "Steam Provider - wrong config key and problem with userFromToken()"
There are 2 main problems in that provider.

Instead of `api_key`  it should be `client_secret` as a key in config. Look [here](https://github.com/SocialiteProviders/Providers/issues/527). She made PR for that, but it was closed.

https://github.com/SocialiteProviders/Steam/pull/4

Also there is problem with `userFromToken($token)` it doesn't work because inside that method a variable `$token` in

[2020-10-21 21:37] atymic commented on #562
The PR was on the subtree repo (readonly). Please re-open here and I will review and merge :)

[2020-10-22 12:22] michaloravec commented on #562
Steam on master branch doesn't work at all!

[2020-10-22 13:45] makesolutions-fl opened #564 "Google Provider - 401 Invalid Client / Unauthorized"
Hello there,

when i try to authenticate via the google provider everything works fine until the callback.
I dumped the response and I get the following error:

`Client error: `POST https://oauth2.googleapis.com/token` resulted in a `401 Unauthorized` response: { "error": "invalid_client", "error_description": "Unauthorized" }`

I've tried almost everything, created a new project, fill everything

[2020-10-22 18:08] robiiinos commented on #543
Havent' tested it, but you can follow these guidelines from Google: https://developers.google.com/identity/protocols/oauth2/openid-connect#re-consent
And add an additional config to the provider like this:

[code]

[2020-10-23 00:09] michaloravec commented on #562
@atymic How I said you have to merge it to the version 3.0.2. Because last working version was 3.0.2. But you merged it to the master branch.

Take a look https://github.com/SocialiteProviders/Steam/compare/v3.0.2...v3.1.0

There are other differences and it causes that it doesn't work at all right now.

[2020-10-23 00:27] atymic commented on #562
@michaloravec you branched from the master branch, so that was where it was applied.

Feel free to make the other changes required to fix issues in the lastest, because we need to fix it there.

[2020-10-23 00:30] michaloravec commented on #562
@atymic I'm not sure but maybe OpenID 2.0 supports only https.

Yeah because there wasn't other option then branch from master branch.

[2020-10-23 09:22] michaloravec commented on #562
@atymic It was tested on live server and it doesn't work when there are changes from https://github.com/SocialiteProviders/Steam/commit/351736c7ef20ca399c6dd55c18c3b3c1fb9758ac

So I'm going to make PR for that.

[2020-10-25 22:32] atymic commented on #562
Let me know if it's all good now and i'll close this @michaloravec :)

[2020-10-25 22:50] michaloravec commented on #562
@atymic Yes, everything is good now. Thanks.

[2020-10-25 23:03] atymic commented on #562
Thanks for your help :)

[2020-10-25 23:03] #562 closed

[2020-10-25 23:04] atymic commented on #480
Done via script :)

[2020-10-25 23:04] #480 closed

[2020-10-25 23:07] atymic commented on #564
Did you request the offline access scope?

[2020-10-25 23:07] atymic commented on #394
Good point @shehi feel free to PR a deprecation.

[2020-10-25 23:16] #394 closed

[2020-10-25 23:16] atymic commented on #394
Should be fixed now in #572

[2020-10-25 23:17] atymic commented on #543
Thanks @robiiinos  👍

[2020-10-25 23:17] #543 closed

[2020-10-25 23:18] atymic commented on #466
You should create a local user in your system, and save the passport access token with that user. Then, you can grab that token and use it in requests.

[2020-10-25 23:18] #466 closed

[2020-10-25 23:18] atymic commented on #540
Closing due to inactivity.

[2020-10-25 23:18] #540 closed

[2020-10-25 23:18] atymic commented on #529
Are you able to PR a fix for this please?

[2020-10-25 23:19] #544 closed

[2020-10-26 10:36] LorenzoSapora opened #575 "Version issues with new 4.0.0"
Thanks for all your work here, truly the unsung hero of the Laravel ecosystem.

Some packages already had a v4, and even v5's. The twitch package for example. Now composer is getting confused between `v4.0.0` and `4.0.0`. And what happens when we get to 5.0, 5.1, and 5.2 in the future?

For future issue-splunkers, you can avoid the composer issues by either using `"*"` or `"dev-master"`, as your v

[2020-10-26 11:25] atymic commented on #575
Oops, there was a check in the script that should have caught that so sorry.
I'll release a version now.

https://github.com/SocialiteProviders/Providers/blob/master/tools/release-major-version.php#L33-L35

[2020-10-26 11:27] atymic commented on #575
I've tagged 5.3.0 and removed the bugged version. Sorry, not sure what went wrong there!

[2020-10-26 11:27] #575 closed

[2020-10-26 12:43] LorenzoSapora commented on #575
Not a problem :) thanks for the fix

[2020-10-30 13:23] NikolayGrishchenko opened #577 "Packagist vkontakte problem"
Нужно обновить зависимости в composer.json в packagist
https://github.com/SocialiteProviders/VKontakte/blob/master/composer.json - "socialiteproviders/manager": "~4.0"
https://packagist.org/packages/socialiteproviders/vkontakte#v4.1.0 - socialiteproviders/manager: ~2.0 || ~3.0

[2020-10-31 00:22] atymic commented on #577
Fixed :)
https://packagist.org/packages/socialiteproviders/vkontakte#4.2.0

[2020-10-31 00:22] #577 closed

[2020-11-01 19:24] matro-skin commented on #515
Looks like it's resolved with last update up to v4.0

[2020-11-01 19:24] #515 closed

[2020-11-01 22:06] atymic commented on #515
No worries :)

[2020-11-02 13:04] pdolinaj opened #578 "Can this be upgraded to work with Guzzle v7?"
I am using latest version of Laravel 8 with Guzzle v7 but this package supports only Guzzle v6. Is there a plan to have this upgraded to Guzzle v7 in near future? Thank you.

[2020-11-02 22:20] atymic commented on #578
Which Provider are you having issues with. Can you post the output of composer/errors?

[2020-11-03 10:11] pdolinaj commented on #578
FITBIT is still using Guzzle V7.

composer.json
`"require": {
        "php": "^7.3",
        "fideloper/proxy": "^4.2",
        "fruitcake/laravel-cors": "^2.0",
        "guzzlehttp/guzzle": "^7.0.1",
        "laravel/framework": "^8.0",
        "laravel/passport": "^10.0",
        "laravel/socialite": "^5.0",
        "laravel/tinker": "^2.0",
        "laravel/ui": "^3.0",
        "sentry/sentry-l

[2020-11-03 10:15] #578 closed

[2020-11-03 10:16] atymic commented on #578
Thanks, will tag a new release shortly.

[2020-11-04 11:54] nekromoff opened #580 "can not install: Could not find a matching version of package socialiteproviders/thirtysevensignals."
composer require socialiteproviders/thirtysevensignals
Warning from https://packagist.org: You are using an outdated version of Composer. Composer 2.0 is now available and you should upgrade. See https://getcomposer.org/2

In InitCommand.php line 727:

  Could not find a matching version of package socialiteproviders/thirtysevensignals. Check the package spelling, your version constraint and that

[2020-11-04 11:55] nekromoff commented on #580
so apparently it is now "/37signals" contrary to what docs say

[2020-11-04 22:23] atymic commented on #580
Could you please link the docs where it's incorrect or send an update PR please?

[2020-11-04 22:26] nekromoff commented on #580
https://github.com/SocialiteProviders/Providers/tree/master/src/ThirtySevenSignals

[2020-11-04 23:20] atymic commented on #580
Closed in https://github.com/SocialiteProviders/Providers/commit/d5fc3762131a12dd14fc1df684904d5db046e7b7

Thanks!

[2020-11-04 23:20] #580 closed

[2020-11-17 20:21] FoksVHox opened #585 "Minecraft OAuth"
Hi!

I would love to see support for Minecraft Authentication for this.

Usecase:
To manage players through a custom shop system
To link an MC account with another OAuth service like Steam

[2020-11-17 20:57] atymic commented on #585
Feel free to make a PR :)

[2020-11-18 08:23] FoksVHox commented on #585
I would gladly do, but I have next to nothing experience with creating packages

[2020-11-18 09:33] atymic commented on #585
Take a look at the guide here
https://socialiteproviders.com/contribute/

Feel free to PR wherever you get to and I'll help out :)

[2020-11-27 12:51] nea opened #587 "Upgrade Apple Provider dependency for full PHP 8 support"
Ahoi

I just upgraded everything to fool around with PHP 8 and I jumped into a dependency clash to fully be able to upgrade.

The Apple Provider requires `lcobucci/jwt` in version ^3.3, but PHP 8 support was only added to ^4.0 (https://github.com/lcobucci/jwt/releases/tag/4.0.0).

Would you be able to apply that dependency allowance/requirement, too?

Thanks a lot in advance

[2020-11-27 23:22] atymic commented on #587
Feel free to PR :)

[2020-11-30 04:48] kkame opened #588 "Php8 dependency on version 4.0 was not updated properly in packagist"
The source was modified normally, but the dependencies managed by packagist were not properly modified.

In packagist, version 4.0 has the following dependencies:

requires
php: ^7.2

Also, the convention of version tagging is different from before.

v3.x.x -> 4.0.0

[2020-11-30 04:51] atymic commented on #588
What provider is this for?

[2020-11-30 06:10] kkame commented on #588
<img width="488" alt="Screen Shot 2020-11-30 at 3 09 35 PM" src="https://user-images.githubusercontent.com/4939813/100574765-10462500-331e-11eb-93c1-988b203047f1.png">

We checked based on slack, and it was confirmed that other providers are the same.

[2020-11-30 15:49] mattsims opened #589 "Mixcloud provider is broken"
The Mixcloud provider is broken, as it's attempting to use a deprecated method to obtain the access token – `Laravel\Socialite\Two\AbstractProvider::getAccessToken()` – which was removed in [this commit](https://github.com/laravel/socialite/commit/0c234df124df24eed19355949d412ce66cee26fc#diff-8d3fd95aa368bbc8b78e7755afdf6132dbab48487f3f53591e55bf3f757f7121).

Ive submitted [this PR](https://github

[2020-11-30 22:16] atymic commented on #589
Please PR to this repo, you PR'd to the read only fork :)

[2020-12-01 13:19] mattsims commented on #589
D'oh. New PR #590 created.

[2020-12-01 13:19] #589 closed

[2020-12-01 23:12] atymic commented on #588
Tagged as 4.1
https://github.com/SocialiteProviders/Slack/tree/4.1.0

[2020-12-01 23:12] #588 closed

[2020-12-01 23:34] litan1106 opened #591 "Please tag a new release for the Microsoft-Azure provider"
https://github.com/SocialiteProviders/Microsoft-Azure/commit/7808764f777a01df88be9ca6b14d683e50aaf88a

[2020-12-01 23:39] atymic commented on #591
Coming shortly 👍
Takes a while to release 100 or so packages 📦

[2020-12-01 23:42] #591 closed

[2020-12-02 17:22] SaburovBabur commented on #220
Driver [instagram]not found issue (laravel 8)
`<?php

namespace App\Providers;

use Illuminate\Auth\Events\Registered;
use SocialiteProviders\Manager\SocialiteWasCalled;

use Illuminate\Auth\Listeners\SendEmailVerificationNotification;
use Illuminate\Foundation\Support\Providers\EventServiceProvider as ServiceProvider;

class EventServiceProvider extends ServiceProvider
{
    /**
     * The event

[2020-12-02 17:35] SaburovBabur commented on #564
Make sure to have Google+ API  **enabled** Please use Google Developers Console to activate the API for your project. There might be some issues on activating as it says error is on your client_id. It is either not activated or given with " ". So .env make it without any " ".
Or check the google project name and product name the **Must be same**. If you find something difficult i will advice to cr

[2020-12-08 08:09] DarrenChowles commented on #591
Sorry for hijacking this @atymic, but is there a reason the Azure provider shows as deprecated on https://socialiteproviders.com/Microsoft-Azure/? I might need to use it soon. The website says it's deprecated but it seems to be in active development here?

[2020-12-08 10:28] atymic commented on #591
My understanding is that you should use the microsoft graph provider, as they are exactly the same. If this is wrong, let me know and I'll fix it.

[2020-12-08 10:53] DarrenChowles commented on #591
Ah, I see the Microsoft provider is the way to go, thank you!

[2020-12-09 17:17] EdgarSedov commented on #562
This PR had broken steam auth on my site (which obviously used api_key as config parameter)
Please do such changes with major version, as this is BC and can broke consumers apps

[2020-12-18 17:47] colbyalbo opened #600 "Typo in the readme for GarminConnect"
Installation says: composer require socialiteproviders/garminconnect

Should be: composer require socialiteproviders/garmin-connect

[2020-12-20 01:46] atymic commented on #600
Thanks!

[2020-12-20 01:47] atymic commented on #600
Closed in #602

[2020-12-20 01:47] #600 closed

[2020-12-21 15:24] johnwc commented on #418
I wrote this provider for our own use, I am more than happy to share with everyone. What is the process of getting it in the list of providers?

[2020-12-21 15:40] johnwc commented on #591
@atymic The MS Azure provider needs to be revived, as Microsoft accounts are not the same as Microsoft Azure accounts. If you use the Azure AD oAuth, you will notice there is a tenant section of the authorization url. The Microsoft oAuth is for logging in with "Microsoft" accounts.

[2020-12-21 22:02] atymic commented on #591
I will untag it as deprecated, thanks 👍

[2020-12-21 23:18] atymic commented on #418
Hey John, how much does it differ from the normal azure provider? Could the be combined?
Could you PR what you have and i'll have a look, thanks!

[2020-12-22 15:18] johnwc commented on #418
It's a bit different, it requires to configure the user flow you want to use for login in the url. I will clean it up and publish it on github. Should I just fork this repo and add it to it?

[2021-01-03 10:58] Murked opened #607 "Twitter OAuth now throwing error"
Hello, not sure what happened because this was working fine last week, but i now get this error when i hit the login endpoint:

https://flareapp.io/share/LPlA9yB7#F53

I guess this was caused by an update on my end when i reinstalled my local environment & got a newer PHP version? I have tried to update the twitter package for 8.0 support, but its just throwing me this error each time: https://gya

[2021-01-05 15:47] Iamscaredofcode commented on #587
what's missing here? there seem to be so many posts on this and I have lost the overview what needs to be done to make this work

[2021-01-09 07:43] robertnicjoo opened #611 "Call to undefined method SocialiteProviders\Telegram\Provider::getScript()"
When I add

[code]
Based on [documentation](https://socialiteproviders.com/Telegram/#configuration), I get this error:

[code]

But If I use

[code]
It will show login button, however it will not follow callback route.

**Any suggestions?**

[2021-01-11 00:32] atymic commented on #611
Looks like correct method is:
https://github.com/SocialiteProviders/Providers/blob/master/src/Telegram/Provider.php#L51

`getButton`

Could you try?

[2021-01-13 10:18] #538 closed

[2021-01-14 11:02] christidis commented on #49
Using JIRA provider with SocialiteProviders is not clear to me either.
My understanding is that JIRA, on its own, cannot act as an Identity Provider. However, Atlassian offers a software called Crowd which can act as an Identity Provider instead. With Croud integrated to Jira, accounts could be synced from JIRA to Crowd and then any registered application could use Jira/Crowd as an IdP.

Having sa

[2021-01-19 02:48] orware opened #619 "OpenID Connect Possible with Socialite Providers?"
Good afternoon,

I spent a bit of time this weekend trying my hand at creating my own Socialite Provider to try and integrate with the SSO software we utilize at a number of community colleges here in California (the software is from a company from the East coast however and is named PortalGuard).

PortalGuard supports multiple SSO protocols: CAS, SAML 2.0, and also OpenID Connect.

As I have been

[2021-01-19 13:46] 27pchrisl commented on #619
@orware I recently submitted https://github.com/SocialiteProviders/Providers/pull/612 for SAML 2.0 support, maybe this would help with the PortalGuard integration?

[2021-01-19 16:07] orware commented on #619
@27pchrisl thanks for sharing that PR link, that definitely seems like another good option I could potentially utilize with PortalGuard :-).

Since it's still being processed as a PR, what would be the best way to attempt to bring in that Provider easily at the moment via composer? I'd be happy to give it a try just to see if I can get something working using it.

Overall, something that's still a

[2021-01-19 20:47] 27pchrisl commented on #619
To try it locally:

- Clone https://github.com/flat3/Providers/tree/saml2
- Modify the composer.json of your app to add this key at the top level
[code]
- Add `"socialiteproviders/saml2": "*"` to the require block
- Do `composer install`

Socialite doesn't help you with creating the user locally in your database or pushing the id of the user into the session (as far as I know), you still have to d

[2021-01-19 22:20] orware commented on #619
@27pchrisl Thanks for the extra details Chris! That'll be helpful for me to try giving it a shot here on my end :-).

That's a bummer that the actual adding of the user locally into the database / session stuff isn't really being handled by Socialite though, since on the surface that seemed like it might be the case, maybe because I was looking at Passport initially? (I think that's one of my crit

[2021-01-24 13:05] #585 closed

[2021-02-01 12:54] dylanmccrimmon opened #622 "Driver [azure] not supported."
Hello,

I recently installed the Azure provider along with Laravel Socialite package from Laravel however, I keep getting a weird issue. The Azure provider works absolutely fine when I use the Socialite driver within the web.php route file as can been seen below:

##### **Routes (web.php)**
[code]

However, whenever I use Socialite within a controller (see below), I keep getting the error  'Driver

[2021-02-01 18:56] dylanmccrimmon commented on #622
Managed to find out the issue - I needed to change the way I referenced the controller in the routes. Working routes below:

#### Routes (web.php)
[code]

[2021-02-01 18:56] #622 closed

[2021-02-02 00:56] lordisp opened #624 "No refreshToken from Microsoft-Graph Provider"
May there be an option to retrieve an `refreshToken` somehow? I would Use the Azure Provider but I need to use Azure Resource Manager provider APIs use the request URI `https://management.azure.com`

[2021-02-02 23:43] Jonskadev opened #625 "Keycloak socialite returns missing parameter: code on callback"
Greetings, I have been trying to use keycloak login on laravel-lumen service, but It only returns this:

![imagen](https://user-images.githubusercontent.com/9122377/106676885-7fe2c580-6596-11eb-9639-c9a2e266cb0b.png)

I have verified with another keycloak service and it works so it may be a keycloak version problem?

I have keycloak 12.0.2, other thing that it can be is a problem of client configu

[2021-02-03 00:40] TomWhitson commented on #607
Same here, changing line 105 of vendor\socialiteproviders\twitter\Server.php to,

public function getAuthorizationUrl($temporaryIdentifier, array $options = [])

fixes the issue (until the package is updated)

[2021-02-03 03:16] atymic commented on #607
It was actually fixed, but forgot to tag a release. Give it a try now.

[2021-02-03 03:19] atymic commented on #625
Looks like invalid scope error?
![image](https://user-images.githubusercontent.com/50683531/106693486-b407c600-662a-11eb-8e48-122cae7b571d.png)

From your code sample you are using the default scopes, which is nothing

[2021-02-05 08:33] khacnha opened #627 "Error about SocialiteProviders\Twitter when run composer install"
We used:
"laravel/socialite": "^5.1",
"socialiteproviders/twitter": "^3.0"
When run `composer install` with other package, it show error relate Twitter:
![image](https://user-images.githubusercontent.com/20592123/107009036-139ad880-67c7-11eb-8602-169c3ff7221a.png)

Any update?

[2021-02-05 12:51] atymic commented on #627
Use the latest version
https://github.com/SocialiteProviders/Twitter/releases

[2021-02-05 12:51] #627 closed

[2021-02-07 21:08] #564 closed

[2021-02-07 22:51] atymic commented on #624
You should be able to get the refresh token directly from the user object, even if it isn't a default key.

Are you requesting the `offline_access` scope?

[2021-02-07 22:51] atymic commented on #607
Closing this, feel free to ping if you have any issues.

[2021-02-07 22:51] #607 closed

[2021-02-10 06:40] lordisp commented on #624
I missed the `offline_access` bit. No I'm receiving the refresh token. cheers!

[2021-02-10 06:40] #624 closed

[2021-02-16 16:22] rushairer commented on #537
If skip CSRF and post callback, Auth:user() is null.
So, when I have had an account, and logined, connect apple, will not create a connected_accounts record.

[2021-02-17 12:04] rushairer opened #630 "Fix: Apple redirect callback missing session id"
Set config/session.php

[code]

[2021-03-02 09:01] matespinda01 opened #633 "[Request] NetIQ Access Manager"

[2021-03-06 18:17] isat7 opened #634 "401 unauthorized error in callback function (overide)"
my redicrect config
[code]

my callback config

[code]
it always return only unauthorized

[2021-03-06 18:27] isat7 commented on #107
it does not work in callback.it returns always unauthorized even correct credential

[2021-03-06 18:29] isat7 commented on #107
it looks like package bug

[2021-03-11 16:11] madsem opened #637 "Microsoft Provider missing scope in Guzzle form_params"
Hey there,

I'm currently integrating OAuth2 for Microsoft Ads, and I've been getting exceptions like this:
[code]

The required scopes are:
[code]

Took me a while until I figured out that the `POST` request issued in the `getAccessTokenResponse()` method, does not include the `scope` inside `'form_params =>'.
https://github.com/SocialiteProviders/Providers/blob/246f67f1f25f6536910a990ff3c674794e

[2021-03-14 05:27] juliomotol commented on #107
@isat7 I had a typo on the code. I updated the comment. maybe next time avoid copy pasting the whole code and try to understand how the snippet works.

[2021-03-14 14:52] #587 closed

[2021-03-16 01:16] #637 closed

[2021-03-16 07:41] michelvermeulen opened #639 "It was not possible to parse your key, reason: error:0909006C:PEM routines:get_name:no start line"
Hey folks,

Trying to setup Apple Sign In, I followed the tutorial on https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple a gazillion times, re-created client_secret a good 10 times, cleared cache etc... And I'm stuck there.

I do see my key when I check https://appleid.apple.com/auth/keys, and I do have the .env setup properly.

Worth mentioning it worked at some point,

[2021-03-18 04:57] nasatome opened #640 "HubSpot Compatibilty problem with joelbutcher/socialstream"
on a clean install of https://github.com/joelbutcher/socialstream 3.0 with laravel/jetstream in Laravel v8.33.1 (PHP v7.4.15)

 the name must not be null and the id is required for getId function.
 `$account = Socialstream::findConnectedAccountForProviderAndId($provider, $providerAccount->getId());`

fix in the line 58 of Provider.php:  https://github.com/SocialiteProviders/HubSpot
https://github.

[2021-03-18 22:26] atymic commented on #640
Sorry, a little confused what the fix is here. Could you create a fix PR? Thanks

[2021-03-19 19:25] nasatome commented on #640
@atymic Sure! :D

[2021-03-20 11:04] tjhunkin opened #642 "Twitter: Missing temporary OAuth credentials"
Using

`$user = Socialite::driver('twitter')->user();`

I get the following error:

"Missing temporary OAuth credentials"

Should I use:

`$user = Socialite::driver('twitter')->userFromTokenAndSecret($token,$secret);`

If so, where do I get the "valid token and secret for a user"?

[2021-03-20 14:20] tjhunkin commented on #642
This occurs if you're using something like ngrok, but initiate the request from localhost. The request has to originate from the same base URL.

[2021-03-20 14:20] #642 closed

[2021-03-23 00:12] #640 closed

[2021-03-23 17:25] thtg88 opened #643 "[Apple] Don't JSON-decode user from request if it's already an array"
I'm currently using the Apple provider for social login from a mobile app, which communicates with a Laravel API at the back-end. The app authenticates with Apple first, and I verify with Apple (with Socialite) that the app is sending valid IDs and name, before persisting the state in a DB.

I'm facing an issue whereas at https://github.com/SocialiteProviders/Providers/blob/master/src/Apple/Provid

[2021-03-23 21:57] atymic commented on #643
No worries, open a PR :)

Thanks!

[2021-03-24 10:21] thtg88 commented on #643
Thank you, I've opened a PR at #644, let me know if there's anything I can do for it :)

[2021-03-25 22:34] #643 closed

[2021-03-26 05:31] Jonskadev commented on #625
My bad, it works now adding the openid scope, for some reason on older versions of keycloak, it doesn't ask for this scope.

![imagen](https://user-images.githubusercontent.com/9122377/112586850-4a5e9980-8ddb-11eb-8a1f-a0af356eaa02.png)

[2021-03-31 18:27] AshPowell opened #659 "Facebook: Cannot call API for app {AppID} on behalf of user {UserID}"
Hi,

I wonder if anyone could help debug what's the cause of this issue - it's happening a lot, but I cannot reproduce it.

The error is:
[code]

No matter what I try I cannot reproduce it, does anyone have an idea of what could cause it?

Thanks in advance

[2021-04-03 00:58] atymic opened #660 "Remove usage of `env()` from providers"
See https://laravel.com/docs/8.x/configuration#configuration-caching

These providers will break if `config:cache` is ran.

We should update them to use the `config()` helper, or the `getConfig` and `Provider::additionalConfigKeys()` method.

[2021-04-03 00:58] atymic commented on #660
cc @lucasmichot if you'd like to take a look at this one :)

[2021-04-12 04:07] Grasume opened #666 "Creating Custom Provider issues"
Currently I keep getting The following error Messages.  Linking to my GitHub (https://github.com/Grasume/eveonline-socialite-provider) I tossed my code at but will put relevant parts here.
![image](https://user-images.githubusercontent.com/16157418/114338433-ada93500-9b18-11eb-8d0e-4522b4e6742f.png)

App\Providers\EventServiceProvider.php
`  SocialiteProviders\Manager\SocialiteWasCalled::class =>

[2021-04-12 04:37] atymic commented on #666
I checked the repo, are you sure your provider is getting autoloaded? check by using `class_exists` function in your controller.

[2021-04-12 21:49] Grasume commented on #666
I have ran the class_exists keeps telling me false and tried a couple things but cant seem to get the provider loaded

[2021-04-14 21:37] Grasume commented on #666
Closing as solved the issue

[2021-04-14 21:37] #666 closed

[2021-04-17 21:34] Adam2Marsh commented on #639
Just to add plus 1 here.

I had this working last year, came to double check it this year and can't get it to work. On the redirect I get the following error:
[code]

[2021-04-18 13:29] Adam2Marsh commented on #639
Okay so I found my issue, it was some bad configuration on my side. I thought I was refreshing my client secret correctly but it was getting overwritten by an old one and I didn't notice. Once I had removed the old config and loaded the new secret it all started to work.

TLDR - Double/Triple check your configuration....

[2021-04-26 05:04] #630 closed

[2021-04-27 18:27] nwoodhouse opened #670 "Documentation issue for the SalesForce driver"
The documentation found here: https://socialiteproviders.com/SalesForce/#installation-basic-usage appears to have a small typo. It directs that the name of the driver configured in services.php should be:

'SalesForce'

However - this appears to result in a driver not supported error. Instead, the name of the driver ought to be:

'salesforce'

Should be a simple fix to update.

[2021-04-28 03:18] atymic commented on #670
Feel free to PR :)

[2021-04-28 11:08] nwoodhouse commented on #670
Happy to - but I can't find the documentation repo any place :-/

[2021-04-28 11:23] atymic commented on #670
It's in this repo :)
https://github.com/SocialiteProviders/Providers/blob/master/src/SalesForce/README.md

[2021-04-28 12:11] nwoodhouse commented on #670
Done :-). My first pull request for an open source project - wahoo :-)

[2021-04-28 21:50] atymic commented on #670
Closed in #671

[2021-04-28 21:50] #670 closed

[2021-04-30 06:50] #533 closed

[2021-05-04 08:41] PsAlex opened #673 "laravelpassport"
php 7.4
my login.test
"laravel/framework": "^8.12",
"socialiteproviders/laravelpassport": "^4.1"
[code]

 but use  ` Socialite::driver('laravelpassport')->user();`  error:
[code]

i make my own OAuth Service with Passport
 user.test

php 7.4
"laravel/framework": "^8.12",
"laravel/passport": "^10.1",

[2021-05-06 03:38] #673 closed

[2021-05-07 15:38] mdcass opened #675 "SocialiteWasCalled not firing (Driver [discord] not supported)"
laravel/framework 8.40.0
laravel/socialite 5.2.3
socialiteproviders/discord 4.1.1

I've been banging my head against the wall with this one. I've added Socialite Providers as per the [docs](https://socialiteproviders.com/usage/#_3-event-listener), and the same with the [Discord](https://socialiteproviders.com/Discord/#installation-basic-usage) provider.

The SocialiteWasCalled event doesn't seem t

[2021-05-08 21:29] #633 closed

[2021-05-12 15:19] mdcass commented on #675
Closing this as after starting from the start and getting Socialite working with Google, this works fine

[2021-05-12 15:19] #675 closed

[2021-05-13 11:45] #634 closed

[2021-05-16 11:15] nicosalvadore commented on #418
Hi @johnwc !
I was thinking of using Azure B2C service soon for a work project.
Have you been able to work on this PR yet ?
TIA :)

[2021-05-18 03:12] atymic opened #677 "Docs for Notion provider"
cc @amaelftah

[2021-05-18 03:51] #677 closed

[2021-05-18 12:47] yonson2 opened #679 "Twitch: Broken provider, missing redirect_uri parameter"
Twitch requires an [extra](https://dev.twitch.tv/docs/authentication/getting-tokens-oauth) `redirect_uri` parameter being passed in the url to twitch that is not being passed.

Right now, the call to `Socialite::driver('twitch')->redirect();` generates an URL like the following one:
[code]
when it should be generating something like:
[code]

Otherwise, we get the following error:
[code]

[2021-05-19 17:10] johnwc commented on #418
@nicosalvadore Yes, I need to clean it up a bit and I can then do a PR. We've been using our version since Dec and it's been great so far.

[2021-05-23 18:06] #611 closed

[2021-05-24 13:11] realtebo opened #680 "Microsoft Azure: how to get additional infos?"
Our active directory user has a group membership info about every user that can login.

We have readonly, readwrite and admin groups.

Using socialite Microsoft Azure OpenID, I got only few infos

[code]

I cannot see the group membership here.

What should I do ?

[2021-05-25 09:25] hugeps commented on #326
Looks like nobody is working on it altogether

[2021-05-31 03:46] franjohn21 opened #681 "Stripe - Undefined array key "email" when email is not returned in /v1/account call"
I'm using the Stripe provider and at least in local development in test mode I am able to see Stripe does not always return an email for the user.

This is consistent with Stripe's documentation that the `email` field can be `null` for the `Account` object ([code](https://github.com/stripe/stripe-php/blob/master/lib/Account.php#L27)).

Because we hardcode `user["email"]` - the socialite provider t

[2021-05-31 07:30] #681 closed

[2021-05-31 07:37] atymic commented on #681
Tagged in https://github.com/SocialiteProviders/Stripe/releases/tag/4.1.1

[2021-06-01 00:32] atymic commented on #625
Could you make a PR to the docs to update it please?

[2021-06-01 15:09] #680 closed

[2021-06-01 15:09] realtebo opened #683 "How to logout ?"
There is no doc about how to LOGOUT from a social provider.

[2021-06-02 09:41] atymic commented on #683
Just use the normal laravel methods. They can sign in via the social provider again if needbe

[2021-06-02 09:41] #683 closed

[2021-06-02 09:51] realtebo commented on #683
It is not enough. I destroy laravel section but at next social login the social user is still logged in remotely so user cannot change account.

Please don't close

Scarica Outlook per Android<https://aka.ms/AAb9ysg>

________________________________
From: atymic ***@***.***>
Sent: Wednesday, June 2, 2021 11:41:45 AM
To: SocialiteProviders/Providers ***@***.***>
Cc: Mirko Tebaldi ***@***.***>; Aut

[2021-06-02 22:18] atymic commented on #683
Which driver are you using? When you click do the socialite redirect, they will not be logged in. The provider should let you chose a specific account again (ie google)

[2021-06-02 22:32] #660 closed

[2021-06-02 22:42] #625 closed

[2021-06-02 22:47] atymic commented on #679
What version of socialite are you using? Should be there by default:

https://github.com/laravel/socialite/blame/1960802068f81e44b2ae9793932181cf1cb91b5c/src/Two/AbstractProvider.php#L197

[2021-06-02 22:48] atymic commented on #659
Did you try this?
https://stackoverflow.com/questions/56791689/unexpected-cannot-call-api-on-behalf-of-this-user-after-upgrading-to-graph-api

[2021-06-02 22:49] atymic commented on #659
Closing as i don't think this is socialite related. Feel free to ping if it is.

[2021-06-02 22:49] #659 closed

[2021-06-02 22:49] atymic commented on #639
Closing due to inactivity

[2021-06-02 22:49] #639 closed

[2021-06-03 17:24] jpgilchrist opened #685 "Feature Request: AWS Cognito"
I was surprised to have not seen this here.

[2021-06-03 21:11] robiiinos opened #686 "PKCE support"
Hello there,

With the addition of PKCE on Laravel Socialite 5.x, I am wondering if any the current architecture of the provider are allowing support of PKCE.
For reference on how it can be enabled:
- https://github.com/laravel/socialite/pull/518
- https://github.com/laravel/socialite/pull/523

Thank you for your time ~

[2021-06-03 23:45] atymic commented on #685
Feel free to PR :)

[2021-06-04 07:16] realtebo commented on #683
I am using Microsoft Azure Open  ID Connect.

I resolved redirecting user to official MS logout link, so user can really change account when they need.

[2021-06-06 22:31] atymic commented on #683
Oh ok. I guess that's specific to the microsoft driver. Feel free to PR that to the microsoft docs:
https://github.com/SocialiteProviders/Providers/blob/master/src/Microsoft/README.md

[2021-06-06 22:33] atymic commented on #686
We now inherit the google provider directly ([see here](https://github.com/SocialiteProviders/Providers/blob/master/src/Google/Provider.php)) so if you are using socialite 5 and this package, then you are able to use PKCE.

It should be fairly easy to add to other providers as well if required since we extend the base class (though, you'll need to force socialite v5 in the composer json).

[2021-06-06 22:34] atymic commented on #619
@27pchrisl since the saml2 provider was accepted, is this issue able to be closed?
https://github.com/SocialiteProviders/Providers/pull/612

[2021-06-12 20:02] mvaljento commented on #107
Still no solution? setConfig seems to have no effect.

[2021-06-14 23:01] atymic commented on #679
Closing due to inactivity.

[2021-06-14 23:01] #679 closed

[2021-06-22 21:01] ahangarha commented on #62
I don't see Mastodon in the list of providers in [documentation](https://socialiteproviders.com/). Couldn't find the mentioned PR as well.

[2021-06-27 12:59] bigint opened #692 "Metamask auth support"
It would be great if MetaMask auth is supported to make NFT websites.

https://metamask.io/

[2021-06-28 02:28] atymic commented on #692
Feel free to PR :)

[2021-06-28 17:23] 27pchrisl commented on #619
@atymic It answers the question about PortalGuard, so I think yes?

[2021-06-28 17:38] orware commented on #619
Thanks for the updates on this one! If SAML2 is now possible via (https://github.com/SocialiteProviders/Saml2) then I should be able to give that one a fresh try now and see if I can get SAML2 working that way moving forward and then integrate into a future project :-).

I've still been using the (https://github.com/subfission/cas) package in recent months as an SSO option for myself that was work

[2021-06-28 17:38] #619 closed

[2021-06-28 17:42] orware commented on #619
In a quick read through of the https://github.com/SocialiteProviders/Saml2 README just now, probably the only extra suggestion might be to have an example of the CSRF middleware exclusion mentioned that's being needed to support the HTTP POST option rather than the HTTP Redirect option that's the default (at the moment I'm not sure if PortalGuard supports HTTP Redirect or not...but I do know most

[2021-06-28 23:43] atymic commented on #619
Feel free to PR to update the dcos @orware  :)

[2021-06-30 04:36] belzaaron opened #693 "EpicGames provider"
Just wanted to put this out there. This is the documentation: https://dev.epicgames.com/docs/services/en-US/Interfaces/Auth/EASAuthentication/index.html. If someone else is already working on this - let me know - otherwise, I will be creating one in the somewhat near future.

[2021-07-05 04:24] ZBrettonYe commented on #611
Base on my research, this package is maintain by Max13. here is his code about telegram socialite.
https://github.com/Max13/TelegramSocialite

In this version, it does include all the code, the document mentioned.

[2021-07-09 07:57] lucasmichot commented on #693
PR are welcome 😀

[2021-07-13 07:17] haosheng0211 opened #701 "Google Provider"
set Socialite::driver($driver)->stateless()->redirect()->getTargetUrl()

callback throw error : Laravel\Socialite\Two\InvalidStateException

[2021-07-15 08:52] peppeocchi opened #705 "Saml2 Provider - custom SP entity id"
Hi, I was wondering if there is any way to manually set the SP entity id. By looking at the code [here](https://github.com/SocialiteProviders/Saml2/blob/master/Provider.php#L221) it uses `URL::to('auth/saml2')` as entity id.
It would be great if that could be customised.

I'm now integrating with a IDP and the developer I'm talking to sent me this message

Did I miss any configuration or function

[2021-07-16 05:29] atymic commented on #705
Feel free to PR :D

[2021-07-16 21:25] cl33per opened #708 "invalid oAuth2 redirect url."
I have attempted to integrate oauth and I seem to be hitting a roadblock with reciving an invalid oAuth2 redirect url.

The link that is generated from cl.creatorsphere.digitall.com/oauth/discord. It returns as /link/discord. not sure where this comes from.

https://discord.com/oauth2/authorize?client_id=826205046680453131&redirect_uri=https%3A%2F%2Fcl.creatorsphere.digital%2Flink%2Fdiscord%2Fcall

[2021-07-19 18:42] #708 closed

[2021-07-28 11:12] harshalone commented on #43
I just saw on Twitter Documentation that they support oAuth 2 here is the link: https://developer.twitter.com/en/docs/authentication/oauth-2-0

[2021-07-28 18:05] tremby commented on #43
@harshalone, see the messages above in this thread, from July 2018.

[2021-07-31 12:36] 27pchrisl commented on #705
This makes sense according to the spec. The implementation as it is sort of assumes each instance of your app (eg each customer) is on their own subdomain, causing different entity ids for different customers. If you don’t partition your app in the url like this you definitely need to be able to generate entity ids like (eg) http://app.com/auth/saml2/<customer id> so you know which customer to rou

[2021-08-01 01:42] atymic commented on #705
Close in #707

[2021-08-01 01:42] #705 closed

[2021-08-01 01:59] atymic commented on #701
Could you post a code snippet and config please?

[2021-08-01 01:59] #701 closed

[2021-08-03 13:23] CecileV opened #715 "Withings Provider need update to oAuth2"
Hi,
The documentation say Withings API use oAuth2 : https://developer.withings.com/developer-guide/data-api/authentication

In the FAQ, it's write :
https://developer.withings.com/developer-guide/faq/faq
![image](https://user-images.githubusercontent.com/10630411/128022605-a97b8aad-2762-4eaf-8489-d8e221aa51e2.png)

[2021-08-03 18:47] engmsaleh opened #716 "Not providing the current time is deprecated. Please pass an instance of DateTimeInterface."
I'm getting the following issue with the Apple provider

`Not providing the current time is deprecated. Please pass an instance of DateTimeInterface.`

Any advice on what is wrong?

[2021-08-04 07:19] atymic commented on #716
Can we get a stack trace please?

[2021-08-04 07:21] atymic commented on #715
Feel free to PR

[2021-08-04 07:46] atymic commented on #716
Closed in #717

[2021-08-04 07:46] #716 closed

[2021-08-05 04:24] dwightwatson commented on #260
Did you happen to resolve this issue, and if so how?

[2021-08-13 21:44] #686 closed

[2021-08-15 12:07] skys215 opened #723 "[Gitee]Missing client_id when requesting"
Hi,

I was implementing Gitee provider to my site. I have set the key and secret properly.

But when I request for login, it has return an error:

[code]

After comparing with the official example of request for login, the `client_id` was missing. After adding `client_id` parameter after the `/oauth/authorize`, the page is shown correctly.

 The **second problem** is after authorizing. The page wa

[2021-08-15 12:08] #723 closed

[2021-08-20 14:04] alessandrofuda opened #724 "MS Azure: compatibility with v2.0 Api endpoints"
Hi guys,
for my needs I upgraded the provider to work with v2.0 of the API. Can I do a pull request?

The new endpoints version switched, for example,
from:
`https://login.microsoftonline.com/common/oauth2/authorize` format
to:
`https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/authorize` format

and it runs through some deprecated functionalities.
(`https://graph.windows.net` is deprecate

[2021-08-23 14:44] alessandrofuda opened #725 "MS Azure Active Directory"
Hi, inside microsoft-azure package I have to override/extend the URLs inside `SocialiteProviders\Azure\Provider` class.
It contains v1 of API endpoints and I have to change it from v1 to v2 (and some other changes).

How can I override it without change package's source file? Thanks a lot.

I tried registering a new serviceprovider in my app and binding the new class, but it doesn't works..

[2021-08-31 14:57] PragnaBrahmbhatt opened #727 "idporten-oidc-provider"
Hello, Is it possible to use this for idporten login? Please help. Thanks in advance.

[2021-09-08 12:21] jstam89 opened #731 "Request Azure Active Directory user groups"
Hi there,

I'm currently using Laravel Socialite for authentication and my goal is to aquire all the groups a user is in.
I've added a scope `GroupMember.Read.All` but the response doesn't seen to have the user groups in it. Anyone any idea how to get the user groups from a user in Azure Active Directory using Socialite with Microsoft Azure provider?

[2021-09-09 10:11] fruitl00p opened #732 "multiple Microsoft Azure AD connections"
When implementing multiple MS Azure AD connections in a single app the `with` parameter doenst eems to work when instantiating a socialite provider (i.e. multiple directories all hosted on azure)

Also I seem to be missing the tentant config option to allow for branding of the login screen... ? is there any way to allow configuring the tenant aside from the 'common' it is now?

[2021-09-13 06:16] atymic commented on #732
Feel free to PR to allow changing that :)

[2021-09-13 06:18] atymic commented on #731
This provider will only give you the access token, I'd imagine you'd then need to query the graph api to get the groups?
https://docs.microsoft.com/en-us/graph/api/group-getmembergroups?view=graph-rest-1.0&tabs=http

[2021-09-13 06:18] atymic commented on #727
Feel free to PR

[2021-09-13 06:19] atymic commented on #725
Feel free to PR the fixes required.

[2021-09-13 06:19] atymic commented on #724
Please PR :)

[2021-09-13 08:36] fruitl00p commented on #732
@atymic it might be just a documentation issue: Using the withConfig() method and injecting the right Config instance this already is possible:
[code]
and ofcourse:
[code]

in the same way, just passing the tenant in the extra config params actually works ;)

[2021-09-13 10:30] jstam89 commented on #731
Thnx for your reply, I solved my problem by swapping to graph during the process.

[2021-09-19 01:51] fujie commented on #418
Hi, I created PR #733 to add provider for Azure AD B2C.

[2021-09-19 18:45] PencariSyntax opened #737 "401 Unauthorized Response (Discord Provider)"
![image](https://user-images.githubusercontent.com/47731799/133938828-1e1f65ae-a82e-496c-9fa4-dfba4d1966af.png)
Hi There

i dont know what is happen, i was update the package and my client id and secret from discord developer app, when i run in local it run normally, but when in server suddenly got this error. please help and guidance, thank you.

[2021-09-19 20:06] johnwc commented on #418
The provider we wrote is up. You may want to merge ours, as it has more features and actually verifies the token is valid. Also, I would not have the provider cache anything, it shouldn't need this anyways. Have the site's developer cache whatever they need to.
https://github.com/johnwc/Providers/tree/master/src/AzureB2C

[2021-09-19 22:10] fujie commented on #418
@johnwc Thank you for let me know about your implementation. It's great!

But I think that caching an OP-metadata and public keys is quite natural to improve performance. And my implementation also validate an id_token by using firebase JWT library.

And I thought that there are unnecessary options there, could please let me know your opinion?
- offline_access is not required since Azure AD B2C do

[2021-09-19 22:40] fujie commented on #418
Anyway, I think it is fair that adding comments on the pull request to improve the Socialite Provider collection itself. @johnwc could you please add your code as comments on the pull request?

[2021-09-19 23:43] atymic commented on #737
Guessing it's a client/secret issue based on the message?

[2021-09-20 03:18] PencariSyntax commented on #737
Thank you for ur reply, I have updated all the client/secret key from discord developer, but still this is the result of the error message.

this is my handle callback method, if there is an error please help and guidance, thank you.
[code]

[2021-09-21 04:12] #737 closed

[2021-09-28 14:08] fujie commented on #418
@atymic could you please review my PR?

[2021-09-30 23:17] atymic commented on #418
Reviewed :)

[2021-09-30 23:17] atymic commented on #731
No worries, closing!

[2021-09-30 23:17] #731 closed

[2021-09-30 23:17] atymic commented on #732
Could you PR a change to the docs? Thanks!

[2021-10-03 22:28] atymic commented on #715
@CecileV want to PR?

[2021-10-04 09:58] #725 closed

[2021-10-04 09:59] alessandrofuda commented on #724
done

[2021-10-04 09:59] #724 closed

[2021-10-05 11:36] blorange2 opened #745 "Getting additional information (Microsoft provider)"
I am using the Microsoft provider on Laravel 6 (back then it was called `graph`) to login users and get users information.

I get a whole bunch of fields based on the fields listed within this provider: https://github.com/SocialiteProviders/Providers/blob/master/src/Microsoft/Provider.php

What do I do if I want extra fields, such as department?

I currently get all fields listed in the above link

[2021-10-05 13:02] buddhaCode commented on #685
Maybe this helps: https://github.com/kirschbaum-development/laravel-socialite-cognito

[2021-10-05 20:59] atymic commented on #745
You can either update your provider, or backport the changes to a copy in your older version?

[2021-10-07 22:26] #685 closed

[2021-10-07 22:27] atymic commented on #732
Will await your PR

[2021-10-07 22:27] #732 closed

[2021-10-07 22:38] atymic opened #751 "Provider Requests [See Description]"
This issue will collect all provider requests to keep things clean. Please comment your request, and once PR'd it will be removed :)

- [ ] Idporten (suggested @PragnaBrahmbhatt)
- [ ] Epic Games (suggested @belzaaron)
https://dev.epicgames.com/docs/services/en-US/Interfaces/Auth/EASAuthentication/index.html
- [ ] Metamask (suggested @bigint) - metamask.io
- [ ] DeSo/BitClout (suggested @marlon-mo

[2021-10-07 22:38] atymic commented on #692
Closed in favor of
https://github.com/SocialiteProviders/Providers/issues/751

[2021-10-12 10:40] tmdan opened #755 "$socialUser->getAvatar() throw Exception"
$socialUser->getAvatar() throw Exception:

`Client error: `GET https://graph.microsoft.com/v1.0/me/photo/$value` resulted in a `404 Not Found` response:
{"error":{"code":"ImageNotFound","message":"Exception of type 'Microsoft.Fast.Profile.Core.Exception.ImageNotFoundExcept (truncated...)`

[2021-10-13 02:15] johnwc commented on #418
@fujie

I think you need to realize that these providers will be used by many, each having their own requirements. Some requiring the need for oAuth tokens. So this provider needs to be able to support being used as OpenID or oAuth, what ever the developing application is requiring. No one is saying that solely setting the scope for offline_access will make B2C return a refresh_token. It is expect

[2021-10-13 02:28] fujie commented on #418
@johnwc Your point of view is true, I'm always appreciate for your comments. So, as I mentioned before, could you please create pull request on my repo?

- For difference between "OAuth Authentication" and OpenID Connect, it is quite dangerous for anyone situation today because only a few people understand correctly. As a co-chair of OpenID Foundation WG, I think I have to inform people which is t

[2021-10-30 00:22] atymic commented on #751
Added

[2021-11-01 20:47] martinhschei opened #763 "Can't have two providers installed"
I'm setting up an app with spotify and github providers. I first install spotify with this command:

`composer require socialiteproviders/spotify`

and then i install the github provider like this:

`composer require socialiteproviders/github`

I would expect both of the providers to end up in the vendor/socialiteproviders folder but what happens is that the last one that is installed deletes the